﻿<div class="potential-moderator">
    <div class="container">
        <input id="userId" type="hidden" value="{{Id}}" />
        <div class="avatar-container">
            <img src="/Content/images/avatars/14.jpg" alt="contact" class="avatar">
        </div>
        <div class="person-info">
             <div class="fio">
                <span>{{SurName}} {{FirstName}}</span><button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="proffesion-info row">
                <div class="place-of-job col-xs-5"><i class="fa fa-building-o"></i> <span>{{PlaceOfJob}}</span></div>
                <div class="position-at-job col-xs-7"><span>{{PositionAtJob}}</span></div>

            </div>
            <div class="contact-info row">
                <div class="mail col-xs-5"><i class="fa fa-envelope"></i> {{Email}}</div>
                <div class="phone col-xs-7"><i class="fa fa-mobile"></i> {{PhoneNumber}}</div>
            </div>
        </div>
    </div>
</div>