﻿<div class="avatar-container">
    <img src="/Content/images/avatars/14.jpg" alt="contact" class="avatar">
</div>
<div class="person-info">
    <div class="fio">
        <span>{{SurName}} {{FirstName}}</span>
    </div>
    <div class="proffesion-info">
        <div class="place-of-job"><i class="fa fa-building-o"></i> <span>{{PlaceOfJob}}</span></div>
        <div class="position-at-job"><span>{{PositionAtJob}}</span></div>

    </div>
    <div class="contact-info">
        <div class="mail"><i class="fa fa-envelope"></i> {{Email}}</div>
        <div class="phone"><i class="fa fa-mobile"></i> {{PhoneNumber}}</div>
    </div>
</div>