﻿@using System.Web.Optimization
@using Unfo.Core
@using Unfo.Core.Extensions
@using Route = Unfo.Core.Route
@model Unfo.Models.ViewModels.InfoEventVM
@{
    ViewBag.Title = "Информация о событии";
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "event-profile";
}



@section ExtendedHeaderBlock
{
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            Информация о событии
        </div>
        <a href="@Url.UnfoRouteUrl(Route.EditEvent, MVC.Cabinet.Events.Edit())" class="pull-right btn btn-primary">Редактировать</a>
    </div>
}

@*<div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Description, MVC.Cabinet.Shared.Views.EditorTemplates._TextAreaTemplate)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatePeriod, new { @class = "control-label col-md-2" })
            <div class="col-sm-10 col-md-6">
                @Html.DisplayFor(model => model.DatePeriod)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PromoCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PromoCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PromoCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPrivate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.IsPrivate)
                @Html.ValidationMessageFor(model => model.IsPrivate)
            </div>
        </div>
    </div>*@

<div class="event-content">
    <div class="tabs">
        <ul>
            <li>
                <a href="#" class="active">Информация</a>
            </li>
            <li>
                <a href="#">Программа</a>
            </li>
            <li>
                <a href="#">Спонсоры</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab info active">
            @* инвормация о мероприятии *@


            <div class="info-header">
                <h3>
                    @Model.Name
                </h3>
                <div class="sub-title">
                    @if (!string.IsNullOrWhiteSpace(Model.Location.CityName))
                    {
                        <div class="pull-left">
                            <i class="ion-location"></i>  @string.Format("{0} {1} {2}", Model.Location.CityName, Model.Location.StreetName, Model.Location.BuildingNumber)
                        </div>
                    }

                    <div class="pull-left">
                        <i class="ion-clock"></i> @Html.DisplayFor(model => model.DatePeriod)
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="description user-text">@Html.DisplayFor(model => model.Description)</div>



        </div>
        <div class="tab speakers">
            @* инвормация о докладчиках *@
            @if (Model.Reports != null && Model.Reports.Any())
            {
                <table id="speakers-table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Название
                            </th>
                            <th>
                                Докладчики
                            </th>
                            <th>
                                Дата
                            </th>
                            <th>
                                Управление
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.Reports)
                        {
                            <tr>
                                <td>
                                    @r.Name
                                </td>
                                <td>
                                    @{
                            var speakersIds = new List<Guid>();
                                    }
                                    @if (r.Speakers != null && r.Speakers.SpeakerItems.Any())
                                    {
                                        foreach (var s in r.Speakers.SpeakerItems)
                                        {
                                            if (!speakersIds.Contains(s.SpeakerId))
                                            {
                                                <span class="label label-default">@s.SpeakerName</span>

                                                speakersIds.Add(s.SpeakerId);
                                            }



                                        }
                                    }
                                    else
                                    {
                                        <span class="label label-info">Нет докладчиков</span>
                                    }

                                </td>
                                <td>
                                    @Html.DisplayFor(model => r.DateRange)
                                </td>
                                <td></td>

                            </tr>
                        }


                    </tbody>
                </table>
            }
            else
            {
                <p>Нет докладов</p>
            }

        </div>


        <div class="tab sponsors">
            @* инвормация о спонсорах *@
        </div>
    </div>
</div>
@section scripts{

    @Scripts.Render("~/Bundles/Cabinet/Event/Info")
}




