﻿@import "../../../css/partials/config";

.add-moderators-modal {
    .modal-dialog{
        margin-top: 150px !important;
        @media(min-width:$minMedium){
        width: 650px;
        }
        @media(max-height:500px){
          margin-top: 50px !important;
        }
    }
    .potential-moderators {
        display: none;

        hr {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .well {
            background-color: white;
            max-height: 343px;
            padding: 0;
            margin-bottom: 0;
            overflow: hidden;
            overflow-y: auto;

            .potential-moderator {
                display: none;
                height: 100%;
                border-top: 1px solid #ccc;
                padding: 10px;
                &:hover{
                     background-color: #f5fafc;
                }
                .container {
                    display: table-row;
                }

                &:first-child {
                    border-top: none;
                    margin-top: 0;

                }

                .avatar-container,
                .person-info {
                    display: table-cell;
                }

                .contact-info,
                .mail,
                .phone,
                .proffesion-info,
                .position-at-job,
                .place-of-job {
                    display: inline-block;
                }

                .avatar-container {
                    width: 93px;
                    vertical-align: middle;

                    img {
                        width: inherit;
                        height: inherit;
                        border-radius: 4px;
                    }
                }

                .person-info {
                    .fio,
                    .proffesion-info,
                    .contact-info {
                        margin-left: 10px;
                        width: 100%;
                    }

                    .fio {
                        display: inline;
                        font-size: 25px;
                        font-weight: bold;
                    }

                    .proffesion-info {
                        margin-top: 4px;
                        .place-of-job {
                            padding-right: 10px;
                        }
                    }

                    .contact-info {
                        margin-top: 3px;

                        .mail {
                            padding-right: 10px;
                        }

                        .phone {
                        }
                    }
                    .position-at-job,
                    .place-of-job,
                    .mail,
                        .phone{
                        padding:0;
                    }
                }
            }
            
        }
    }
}

#moderators-bloodhound {
    position: relative;

    .status-search-container {
        
        .fa-search{
            position: absolute;
        right: 14px;
        top: 12px;
        }
    }

    .tt-hint,
    .tt-input {
        padding-right: 35px;
    }

    .tt-dataset-moderators {
        .tt-suggestions {
            padding: 5px 0;

            .tt-suggestion {
                padding: 5px 10px;
                height: 80px;
                display: table-row;

                &.tt-cursor {
                    background-color: #f5fafc;
                    cursor:pointer;
                }

                .avatar-container {
                    width: 65px;
                    display: table-cell;
                    padding-left: 10px;
                    vertical-align: middle;

                    .avatar {
                        width: inherit;
                        border-radius: 4px;
                    }
                }

                .person-info {
                    display: table-cell;
                    width: 100%;

                    .fio,
                    .proffesion-info,
                    .contact-info {
                        margin-left: 10px;
                        display: inline-block;
                    }

                    .fio {
                        font-size: 25px;
                        color: #333;
                    }

                    .proffesion-info {
                        width: 100%;
                        position: relative;
                        top: -2px;
                    }

                    .contact-info {
                        width: 100%;
                    }

                    .mail,
                    .place-of-job {
                        min-width: 40%;
                    }

                    .position-at-job,
                    .place-of-job,
                    .mail,
                    .phone {
                        color: #777777;
                        display: inline-block;
                    }
                }
            }
           
        }
         .empty-message{
                text-align:center;
                padding: 20px 10px;
font-size: 16px;
color: #7e7e7e;

font-weight: 600;
letter-spacing: 0.3px;
            }
    }
}