﻿/* roboto font */
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);*/
/* source sans pro */
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);*/
/* lato */
/*@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);*/
/* merriweather */
/*@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);*/
/*$sidebarBg: #35485e;*/
/* line 4, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
.add-moderators-modal .modal-dialog {
  margin-top: 150px !important; }
  @media (min-width: 768px) {
    .add-moderators-modal .modal-dialog {
      width: 650px; } }
  @media (max-height: 500px) {
    .add-moderators-modal .modal-dialog {
      margin-top: 50px !important; } }
/* line 13, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
.add-moderators-modal .potential-moderators {
  display: none; }
  /* line 16, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
  .add-moderators-modal .potential-moderators hr {
    margin-top: 15px;
    margin-bottom: 15px; }
  /* line 21, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
  .add-moderators-modal .potential-moderators .well {
    background-color: white;
    max-height: 343px;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
    overflow-y: auto; }
    /* line 29, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
    .add-moderators-modal .potential-moderators .well .potential-moderator {
      display: none;
      height: 100%;
      border-top: 1px solid #ccc;
      padding: 10px; }
      /* line 34, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator:hover {
        background-color: #f5fafc; }
      /* line 37, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .container {
        display: table-row; }
      /* line 41, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator:first-child {
        border-top: none;
        margin-top: 0; }
      /* line 48, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .avatar-container, .add-moderators-modal .potential-moderators .well .potential-moderator .person-info {
        display: table-cell; }
      /* line 57, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .contact-info, .add-moderators-modal .potential-moderators .well .potential-moderator .mail, .add-moderators-modal .potential-moderators .well .potential-moderator .phone, .add-moderators-modal .potential-moderators .well .potential-moderator .proffesion-info, .add-moderators-modal .potential-moderators .well .potential-moderator .position-at-job, .add-moderators-modal .potential-moderators .well .potential-moderator .place-of-job {
        display: inline-block; }
      /* line 61, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .avatar-container {
        width: 93px;
        vertical-align: middle; }
        /* line 65, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        .add-moderators-modal .potential-moderators .well .potential-moderator .avatar-container img {
          width: inherit;
          height: inherit;
          border-radius: 4px; }
      /* line 75, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .fio, .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .proffesion-info, .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .contact-info {
        margin-left: 10px;
        width: 100%; }
      /* line 80, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .fio {
        display: inline;
        font-size: 25px;
        font-weight: bold; }
      /* line 86, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .proffesion-info {
        margin-top: 4px; }
        /* line 88, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .proffesion-info .place-of-job {
          padding-right: 10px; }
      /* line 93, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .contact-info {
        margin-top: 3px; }
        /* line 96, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .contact-info .mail {
          padding-right: 10px; }
      /* line 106, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .position-at-job, .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .place-of-job, .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .mail, .add-moderators-modal .potential-moderators .well .potential-moderator .person-info .phone {
        padding: 0; }

/* line 116, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
#moderators-bloodhound {
  position: relative; }
  /* line 121, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
  #moderators-bloodhound .status-search-container .fa-search {
    position: absolute;
    right: 14px;
    top: 12px; }
  /* line 129, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
  #moderators-bloodhound .tt-hint, #moderators-bloodhound .tt-input {
    padding-right: 35px; }
  /* line 134, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
  #moderators-bloodhound .tt-dataset-moderators .tt-suggestions {
    padding: 5px 0; }
    /* line 137, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
    #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion {
      padding: 5px 10px;
      height: 80px;
      display: table-row; }
      /* line 142, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion.tt-cursor {
        background-color: #f5fafc;
        cursor: pointer; }
      /* line 147, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .avatar-container {
        width: 65px;
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle; }
        /* line 153, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .avatar-container .avatar {
          width: inherit;
          border-radius: 4px; }
      /* line 159, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
      #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info {
        display: table-cell;
        width: 100%; }
        /* line 165, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .fio, #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .proffesion-info, #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .contact-info {
          margin-left: 10px;
          display: inline-block; }
        /* line 170, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .fio {
          font-size: 25px;
          color: #333; }
        /* line 175, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .proffesion-info {
          width: 100%;
          position: relative;
          top: -2px; }
        /* line 181, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .contact-info {
          width: 100%; }
        /* line 186, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .mail, #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .place-of-job {
          min-width: 40%; }
        /* line 193, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
        #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .position-at-job, #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .place-of-job, #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .mail, #moderators-bloodhound .tt-dataset-moderators .tt-suggestions .tt-suggestion .person-info .phone {
          color: #777777;
          display: inline-block; }
  /* line 201, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/add-moderators-modal.scss */
  #moderators-bloodhound .tt-dataset-moderators .empty-message {
    text-align: center;
    padding: 20px 10px;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 600;
    letter-spacing: 0.3px; }

/*# sourceMappingURL=add-moderators-modal.css.map */