﻿/* roboto font */
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);*/
/* source sans pro */
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);*/
/* lato */
/*@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);*/
/* merriweather */
/*@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);*/
/*$sidebarBg: #35485e;*/
/* line 4, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.user-search .page-title {
  padding-left: 0 !important; }
  @media (max-width: 768px) {
    .user-search .page-title {
      padding-left: 50px !important; } }
@media (max-width: 809px) {
  .user-search .search {
    width: 218px !important; } }
/* line 15, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.user-search .add-moderator-btn {
  float: right;
  position: relative;
  top: -5px; }

/* line 22, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users.table-container {
  min-height: 740px; }
/* line 26, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table th.align-right, .users .table td.align-right {
  text-align: right;
  padding-right: 10px !important; }
/* line 34, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table.table-hover tbody tr:hover > td, .users .table.table-hover tbody tr:hover > th {
  background-color: #f5fafc; }
/* line 38, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table thead {
  border-top: 1px solid #dee3ea; }
  /* line 43, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
  .users .table thead th {
    font-weight: bold;
    position: relative;
    padding-bottom: 20px !important;
    padding-top: 5px !important;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: top !important;
    border-bottom: 0px !important; }
    /* line 44, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
    .users .table thead th.head-checkbox {
      padding-right: 13px; }
      /* line 46, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
      .users .table thead th.head-checkbox span.line {
        left: auto;
        right: 7px; }
    /* line 55, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
    .users .table thead th span.line {
      position: absolute;
      top: 0;
      left: -8px;
      border-left: 1px solid #dee3ea;
      height: 10px; }
    /* line 62, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
    .users .table thead th a {
      color: inherit;
      cursor: pointer; }
    /* line 75, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
    .users .table thead th .users-actions {
      display: none; }
      /* line 77, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
      .users .table thead th .users-actions .dropdown-menu {
        text-transform: none; }
/* line 87, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table tbody tr:first-child td {
  border-top: 0 none; }
/* line 91, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table tbody tr td.person-info {
  display: table-row;
  width: 100%; }
  @media (max-width: 768px) {
    .users .table tbody tr td.person-info {
      display: block !important; } }
/* line 98, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table tbody tr td {
  color: #526273;
  border-top-color: #edf2f7 !important;
  vertical-align: middle !important;
  vertical-align: middle;
  font-size: 13px; }
  @media (max-width: 768px) {
    .users .table tbody tr td {
      font-size: 12px; } }
  /* line 109, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
  .users .table tbody tr td .label:empty {
    display: inline; }
  /* line 113, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
  .users .table tbody tr td .fio-container, .users .table tbody tr td .avatar-container {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    height: 100%; }
  /* line 121, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
  .users .table tbody tr td .avatar-container img.avatar {
    max-width: 54px; }
  @media (max-width: 768px) {
    .users .table tbody tr td .avatar-container {
      display: none !important; } }
  /* line 129, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
  .users .table tbody tr td .fio-container {
    width: 100%; }
    @media (max-width: 768px) {
      .users .table tbody tr td .fio-container {
        padding: 0; } }
    /* line 134, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
    .users .table tbody tr td .fio-container a:only-child {
      margin: 0; }
      @media (max-width: 768px) {
        .users .table tbody tr td .fio-container a:only-child {
          margin-bottom: 16px;
          margin-top: 16px; } }
/* line 148, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table tbody a.name {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: 16px 0 0 0; }
  @media (max-width: 768px) {
    .users .table tbody a.name {
      margin: 16px 0 0 0;
      font-size: 12px; } }
/* line 161, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table tbody a.name, .users .table tbody a.email {
  color: inherit; }
/* line 167, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table .private {
  /*background: rgb(224, 224, 224);
/* width: 111%; */
  /*font-weight: bold;
display: inline-block;
width: 100%;
color: white;
border-radius: 3px;
text-align: center;*/
  text-decoration: none;
  cursor: default; }
/* line 182, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/Users/users.scss */
.users .table .subtext {
  font-size: 12px;
  margin-left: 0;
  color: #778391;
  font-style: italic;
  margin-top: 0; }

/*# sourceMappingURL=users.css.map */