﻿@import "../../../css/partials/config";

.user-search{
    .page-title{
        padding-left:0 !important;
          @media(max-width: $minMedium) {
                            padding-left:50px !important;
                        }
    }
    .search{
         @media(max-width: 809px) {
             width:218px!important;              
                        }
    }
    .add-moderator-btn{
float: right;
position: relative;
top: -5px;
}
    }
.users {
    &.table-container{
          min-height:740px;
    }
    .table th.align-right,
    .table td.align-right {
        text-align: right;
        padding-right: 10px !important;
    }

    .table {
      
        &.table-hover tbody tr:hover > td,
        &.table-hover tbody tr:hover > th {
            background-color: #f5fafc;
        }

        thead {
            border-top: 1px solid #dee3ea;



            th {
                &.head-checkbox{
                    padding-right: 13px;
                    span.line{
                        left:auto;
                        right: 7px;
                    }
                }
                &.sortable {
                    
                }

                span.line {
                    position: absolute;
                    top: 0;
                    left: -8px;
                    border-left: 1px solid #dee3ea;
                    height: 10px;
                }
                a{
                    color: inherit;
                    cursor: pointer;
                }
                font-weight: bold;
                position: relative;
                padding-bottom: 20px !important;
                padding-top: 5px !important;
                text-transform: uppercase;
                font-size: 11px;
                vertical-align: top !important;
                border-bottom: 0px !important;
             
                .users-actions{
                    display:none;
                       .dropdown-menu{
                     text-transform:none;
                }
                }
            }
        }

        tbody {
            tr {
                &:first-child {
                    td {
                        border-top: 0 none;
                    }
                }
                td.person-info{
                       display:table-row;
                    width:100%;
                     @media(max-width: $minMedium) {
                            display: block!important;
                        }
                }
                td {
                 
                    color: #526273;
                    border-top-color: #edf2f7 !important;
                    vertical-align: middle !important;
                    vertical-align: middle;
                    font-size: 13px;
                      @media(max-width: $minMedium) {
                     font-size: 12px;
                   }
                    
                    .label:empty {
 display: inline; 
}
                     .fio-container,
                    .avatar-container{
                        display:table-cell;
                        vertical-align: middle;
                        padding:8px;
                     
                        height:100%
                    }
                    .avatar-container{
                        img.avatar {
                        max-width: 54px;
                    }
                         @media(max-width: $minMedium) {
                            display: none!important;
                        }
                    }
                   
                    .fio-container{
                        width:100%;
                        @media(max-width: $minMedium) {
                            padding: 0;
                        }
                        a:only-child{
                            margin: 0;
                              @media(max-width: $minMedium) {
                            margin-bottom: 16px;
margin-top: 16px;
                        }
                        }
                    }
                    
                  

                }
            }
             a {
            &.name {
                display: block;
                font-weight: 600;
                font-size: 14px;
                margin: 16px 0 0 0;

                @media(max-width: $minMedium) {
                    margin: 16px 0 0 0;
                     font-size: 12px;
                }
            }

            &.name,
            &.email {
                color: inherit;
            }
        }
        }

        .private{
            /*background: rgb(224, 224, 224);
/* width: 111%; */
/*font-weight: bold;
display: inline-block;
width: 100%;
color: white;
border-radius: 3px;
text-align: center;*/
text-decoration: none;
cursor: default;
        }

       

        .subtext {
            font-size: 12px;
            margin-left: 0;
            color: #778391;
            font-style: italic;
            margin-top: 0;
        }
    }
}