﻿@import "../../../css/partials/config";
@import "../cabinet-config";


#users.user-info{
    #content{
        color: #666666;
        padding-top:40px;
        .content-wrapper{
            margin-top:0;
        }
    }
    .user-info-heading{
        text-align:center;
        &.minimum-info{
            margin-top: 40px;
            img{
                min-width:300px;
                min-height:300px;
                max-width: 500px;
                max-height: 500px;
                border-radius: 15px;
            }
        }
        img{
                min-width:150px;
                min-height:150px;
                max-width:300px;
                max-height:300px;
            }
        .user-fio{
             color: inherit;
font-size: 30px;
font-weight: 300;
        }
        .user-position-at-job{
            color: #888888;
font-size: 14px;
font-weight: 300;
        }
    }
    .user-info-body{
         .about-me{
        color: inherit;
        display:block;
        min-height:100px;
        margin-bottom:10px;
        }

         .social-icon{
             display: inline-block;
width: 20px;
height: 20px;
text-align: center;
background: #686e78;
border-radius: 3px;
color: white;
 @include transition(all 0.2s linear);
 a{
     color:inherit;
 &:hover{
     color:inherit;
 }

     }
     &:hover{
             transform:scale(1.2,1.2);
             &.twitter{
                 background: $twitterColor;
             }
              &.facebook{
                 background: $facebookColor;
             }
               &.googleplus{
                 background: $googleColor;
             }
                &.vkontakte{
                 background: $vkontakteColor;
             }
    }
     
         }
    }
    h4{
        font-weight: 300;
        color: inherit;
    }
   
    dt,dd{
color: inherit;
    }

}