﻿@using System.Web.Optimization
@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@model Unfo.Models.ViewModels.VoteViewModel
@{

    ViewBag.Title = Model.ID != Guid.Empty ? Resources.c_Edit + " " + Model.Name : Resources.Voting_New_Vote;
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    
    var cul = CurrentEvent.GetAccessCultures();
    var activeLang = Request.Cookies[CurrentLocalization.CookieName] == null ? "ru" : Request.Cookies[CurrentLocalization.CookieName].Value;
}

@Html.Partial("_LanguageTabs")

@Html.ShowAlert(true)

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)

    <fieldset class="form-horizontal">
        @Html.EditorFor(d => Model, MVC.Cabinet.Shared.Views.EditorTemplates.VoteViewModel)
        <div class="form-actions">
            <button type="submit" class="btn btn-success">@(Resources.c_Save)</button>

            @Html.ActionLink(Resources.c_Back_To_List, MVC.Cabinet.Voting.Index(), new { @class = "btn btn-default" })
        </div>
    </fieldset>
}


@section Scripts {
    <script type="text/javascript">
        $(function() {

            $('#addQuestion').click(function() {
                if (!$(this).hasClass("disabled")) {
                    var url = $(this).attr('data-url');

                    getQuestionForLang(url);
                    return false;
                }
            });

            if ($('#IsOpros').attr("checked")) {
                $('#questions_list').hide();
            }

            $('#IsOpros').on("change", function() {
                $('#questions_list').toggle();
            });

            function getQuestionForLang(url) {
                $.get(url, function(html) {
                    $('#questions_list ul').append(html);
                });
            }

        });

    </script>
}
