﻿@using System.Web.Optimization
@using Unfo.Core
@model IEnumerable<Unfo.Models.ViewModels.ShortVoteViewModel>
@{
    ViewBag.Title = "Голосования и опросы";
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "votings";
}


@section ExtendedHeaderBlock
{
    <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title"> @(Resources.t_Голосования_опросы) </div>

        @Html.ActionLink(Resources.c_Add, "Edit", null, new {@class = "btn btn-success pull-right"})
    </div>
}



@Html.Partial("_LanguageTabs")

@Html.ShowAlert(true)


<table class="table table-striped">
    <caption>
    </caption>
    <thead>
        <tr>
            <th>
                @(Resources.c_Title)
            </th>

            <th>
               
            </th>
        </tr>
    </thead>
    @foreach (var model in Model)
    {
        <tr class="@(model.IsOnline && !model.IsFinished ? "success" : "")">
            <td>
                @(model.Name)
            </td>
            <td></td>
            <td style="text-align: right;">

                @{
        if (model.IsOnline || model.IsFinished)
        {
            <a class="btn btn-default " href="@(Url.Action("Show", "Voting", new {id = model.ID, type = 1}))"> <span class="glyphicon glyphicon-eye-open"></span></a>
        }
                    @Html.ActionLink(Resources.c_Edit, "Edit", new { id = model.ID }, new { @class = "btn btn-default", @style = "margin-right: 10px; " })

                    if (!model.IsFinished && model.IsOnline)
                    {
                        @Html.ActionLink(Resources.c_Finish, "ToogleActivate", new { id = model.ID }, new { @class = "btn btn-warning", @style = "margin-right: 10px; width: 120px;" })
                    }
                    else
                    {
                        @(model.IsOnline ?
                                  Html.ActionLink(Resources.c_Continue, "ToogleActivate", new { id = model.ID }, new { @class = "btn btn-success", @style = "margin-right: 10px; width: 120px;" })
                                  : Html.ActionLink(Resources.c_Start, "ToogleActivate", new { id = model.ID }, new { @class = "btn btn-success", @style = "margin-right: 10px; width: 120px;" }))
                    }


                    using (Html.BeginForm("Delete", "Voting", FormMethod.Post, new {style = "display: inline-block;"}))
                    {
                        @Html.Hidden("Id", model.ID)

                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    }

                }
            </td>
        </tr>
    }
</table>