﻿@using System.Web.Optimization
@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@model Unfo.Models.ViewModels.VoteViewModel
@{

    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cul = CurrentEvent.GetAccessCultures();
    var activeLang = Request.Cookies[CurrentLocalization.CookieName] == null ? "ru" : Request.Cookies[CurrentLocalization.CookieName].Value;
    var votingUrl = Url.Action("Vote", "Voting", new { id = Model.ID });
}


@functions {

    public static string GetPercent(int sum, int? result)
    {
        if (sum == 0) return "0";
        if (result == null) return "0";
        double d = (double)(100 * sum) / result.Value;
        return String.Format(Math.Abs(d % 1) < 0 ? "{0:0}" : "{0:0.0}", d);
    }

    public static int GetIntPercent(int sum, int? result)
    {
        if (sum == 0) return 0;
        if (result == null) return 0;
        double d = (double)(100 * sum) / result.Value;
        return (int)d;
    }

}

<div id="show-voting">

    @if (!ViewBag.CanVote)
    {
        <h4> Голосование - @(Model.Name) </h4>
        <p> @(Model.Description) </p>

        if (!Model.IsOpros)
        {
            foreach (var item in Model.Questions)
            {
                if (!string.IsNullOrEmpty(item.Name))
                {
                    <div class="results-block-@(item.ID)">

                        <span> @(item.Name) </span>
                        <div style="clear: both;"> </div>

                        @( GetIntPercent(item.Result, Model.Sum) + "%")

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: @( GetIntPercent(item.Result, Model.Sum) + "%")">  </div>
                           
                        </div>
                    </div>
                }
            }

        }
        else
        {
            foreach (var item in Model.Answers)
            {
                <p> @item </p>
            }
        }

        <div style="clear: both"> <a href="@(Url.Action("Index", "Voting", new {  }))" class="btn btn-warning"> Назад</a> </div>
    }
    else
    {
        <h4 style="color: #ff8c00"> @(Model.Name) </h4>
        <p>@(Model.Description)</p>

        <div class="questions-list">

            @if (!Model.IsOpros)
            {
                foreach (var item in Model.Questions)
                {
                    if (!string.IsNullOrEmpty(item.Name))
                    {
                        using (Html.BeginForm("Vote", "Voting", FormMethod.Post, null))
                        {
                            var questionID = item.ID;

                            @Html.Hidden("questionId", questionID)
                            <button type="submit" class="btn btn-success"> @(item.Name)</button>
                        }
                        <br />
                    }
                }

                <div> <a href="@(Url.Action("Index", "Voting", new { }))" class="btn btn-warning"> ← Назад</a> </div>
            }
            else
            {
                using (Html.BeginForm("VoteWithAnswer", "Voting"))
                {
                    @Html.ValidationSummary(false)

                    <div style="display: none;">
                        <input class="" id="voteID" name="voteID" type="text" value="@(Model.ID)">
                    </div>
                    <textarea class="" id="answer" name="answer" placeholder="Ваш ответ" type="text" rows="6" value="" style="width: 100%; height: 200px; "></textarea>
                    <br>
                    <div style="float: left;"> <a href="@(Url.Action("Index", "Voting", new { }))" class="btn btn-warning"> ← Назад</a> </div>
                    <input type="submit" class="btn btn-success" value="Отправить" style="float: right;">
                }
            }
        </div>
        <div style="clear: both;"></div>
    }

</div>
