﻿@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using Unfo.Models.ViewModels
@using UnfoIdentitySystem.GlobalStaticClasses
@model Unfo.Models.ViewModels.SettingsVM
@{

    var SectionsList = ViewBag.SectionsList != null ? (IEnumerable<SelectListItem>)ViewBag.SectionsList : new List<SelectListItem>();
    var Cultures = (IEnumerable<SelectListItem>)ViewBag.Cultures;
    var routeValues = MVC.Cabinet.Settings.Index().GetRouteValueDictionary();
    routeValues.Add("eventName", CurrentEvent.UEvent.TranslitName);
}


@using (Html.BeginForm(MVC.Cabinet.Settings.Index(), FormMethod.Post, new { @class = "new-customer form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.EventId)

    <div class="form-group">
        @Html.LabelFor(model => model.TarifId, new { @class = "control-label col-md-2 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.EnumDropDownListFor(model => model.TarifId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TarifId)
        </div>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.Localization, new { data_hide_block = "locBlock" }) Поддержка нескольких языков
                </label>
            </div>
        </div>
    </div>
    <div class="@(Model!=null&&Model.Localization?"":"hide")" id="locBlock">
        <div class="form-group">
            @Html.LabelFor(model => model.SupportLanguages, new { @class = "control-label col-md-2 col-sm-2" })
            <div class="col-md-8  col-sm-10">
                @Html.ListBoxFor(model => model.SupportLanguages, Cultures, new { @class = "form-control", multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.SupportLanguages)
            </div>
        </div>
    </div>
    <hr />


    <div class="form-group">
        @Html.LabelFor(model => model.ServiceSectionsIds, new { @class = "control-label col-md-2 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.ListBoxFor(model => model.ServiceSectionsIds, SectionsList, new { @class = "form-control", multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.ServiceSectionsIds)
        </div>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.Branding, new { data_hide_block = "brandingBlock" }) Отдельное приложение
                </label>
            </div>
        </div>
    </div>
    <div class="@(Model!=null&&Model.Branding?"":"hide")" id="brandingBlock">
        <div class="form-group">
            @Html.LabelFor(model => model.AndroidAppLink, new { @class = "control-label col-md-2 col-sm-2" })
            <div class="col-md-8 col-sm-10">
                @Html.TextBoxFor(model => model.AndroidAppLink, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AndroidAppLink)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IOSAppLink, new { @class = "control-label col-md-2 col-sm-2" })
            <div class="col-md-8 col-sm-10">
                @Html.TextBoxFor(model => model.IOSAppLink, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IOSAppLink)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">Сертификат</label>

            <div class="col-md-8 col-sm-10">
                <input type="file" name="file">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CertificatePassword, new { @class = "control-label col-md-2 col-sm-2" })
            <div class="col-md-8 col-sm-10">
                <div class=" has-feedback">
                    @Html.TextBoxFor(model => model.CertificatePassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CertificatePassword)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GoogleAppKey, new { @class = "control-label col-md-2 col-sm-2" })
            <div class="col-md-8 col-sm-10">
                <div class="has-feedback">
                    @Html.TextBoxFor(model => model.GoogleAppKey, new { @class = "form-control" })
                    <i class="ion-information-circled form-control-feedback" data-toggle="tooltip" title="" data-original-title="Tooltip helper example"></i>
                    @Html.ValidationMessageFor(model => model.GoogleAppKey)
                </div>

            </div>
        </div>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.Support) Поддержка
                </label>
            </div>
        </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-success" value="@Unfo.App_LocalResources.Resources.c_Save" />
        </div>
    </div>
}
