﻿@using System.Web.Optimization
@using Microsoft.Owin.Security
@using Unfo.App_LocalResources
@{
    ViewBag.Title = "Locked out";
    ViewBag.BodyId = "signin";
}

<hgroup>
    <h1 class="text-error">Locked out.</h1>
    <h2 class="text-error">This account has been locked out, please try again later.</h2>
</hgroup>