﻿@using System.Activities.Statements
@using System.Web.Optimization
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities.Configuration
@using Microsoft.Owin.Security
@using Unfo.App_LocalResources
@using Unfo.Models.ViewModels
@model DataModel.ModelInterfaces.IShortUser
@{

    ViewBag.BodyId = "signup";
    Layout = MVC.Shared.Views._EmptyLayout;

    const string cssClasses = "form-control";
    var urlToActionByTypeLogin = Url.Action(MVC.Account.SignUp());

    var IsExternalLoginSignUp = ViewData.ContainsKey("IsExternalLoginSignUp") && (bool)ViewData["IsExternalLoginSignUp"];
    var IsStandartSignUp = !IsExternalLoginSignUp;
    if (IsExternalLoginSignUp)
    {
        urlToActionByTypeLogin = Url.Action(MVC.Account.ExternalLoginConfirmation());
        ViewBag.Title = Resources.Account_View_SignUp_IsExternalLoginSignUp_Title;
    }
    else
    {
        ViewBag.Title = Resources.Account_View_SignUp_IsStandartSignUp_Title;
    }

}
@*@Styles.Render("~/Bundles/Idealforms/css")
@Styles.Render("~/Bundles/Unfo/Account/SignUp/css")*@

<a href="index.html" class="logo">
    <i class="brankic-pen"></i>
</a>
@if (IsExternalLoginSignUp)
{
    <h3>@string.Format(Resources.Account_View_SignUp_AssociationWithSocialAccount, ViewBag.LoginProvider)</h3>
}
else
{
    <h3>@Resources.Account_View_SignUp_CreateAccount_Title</h3>
}
<div class="content">
    <div class="info alert-wrapper">
        @if (IsExternalLoginSignUp)
        {
            <div class="alert alert-info active" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                @* В ресурсе кусок HTML кода *@
                @Html.Raw(string.Format(Resources.Account_View_SignUp_InfoMessage, ViewBag.LoginProvider))
            </div>
            
        }
    </div>
    @Html.Hidden("urlToCheckHasPasswordAction", Url.Action(MVC.Account.CheckHasUserPassword()))
    @Html.Hidden("urlToGetUserExternalLoginsAction", Url.Action(MVC.Account.GetExternalLogins()))

    <form action="@urlToActionByTypeLogin" method="POST" id="signUpForm" class="idealforms fade in" data-is-external-login-sign-up="@IsExternalLoginSignUp">
        <div class="fields">
            <strong>@Resources.Account_View_SignUp_PersonalInformation</strong>

            <div class="field-ideal">
                @Html.TextBoxFor(m => m.FirstName, new { @class = cssClasses, placeholder = Resources.c_FirstName })
                <span class="error"></span>
            </div>
            <div class="field-ideal">
                @Html.TextBoxFor(m => m.SurName, new { @class = cssClasses, placeholder = Resources.c_Surname })
                <span class="error"></span>
            </div>
            <div class="field-ideal">
                @Html.TextBoxFor(m => m.FatherName, new { @class = cssClasses, placeholder = Resources.c_FatherName })
                <span class="error"></span>
            </div>
            <div class="field-ideal">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </span>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = cssClasses, placeholder = Resources.c_PhoneNumber })
                </div>
                <span class="error"></span>
            </div>
        </div>
        <div class="fields">
            <strong>@Resources.Account_View_SignUp_AccountInformation</strong>
            <div class="field-ideal">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Email, new { @class = cssClasses, placeholder = Resources.c_Email, data_val_remote_url = Url.Action(MVC.Account.ValidateEmailOfUserInSystem()) })
                   
                </div>
                <i class="fa interactive-icon" data-toggle="tooltip" data-container="body" data-html="true" data-placement="top" data-original-title="Вы можете связать @ViewBag.LoginProvider с этой учетной записью"></i>
                <span class="error"></span>
            </div>
            @if (IsStandartSignUp)
            {
                <div class="field-ideal">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        @Html.TextBox("Password", "", new { @class = cssClasses, placeholder = Resources.Account_Password, type = "password" })
                    </div>
                    <span class="error"></span>
                </div>
                <div class="field-ideal">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        @Html.TextBox("ConfirmPassword", "", new { @class = cssClasses, placeholder = Resources.Account_ConfirmPassword, type = "password" })
                    </div>
                    <span class="error"></span>
                </div>
            }
        </div>

        <div class="submit-container">
            <button class="btn btn-success btn-lg" type="submit">@Resources.Account_View_SignUp_CreateAccount</button>
        </div>
    </form>
</div>

<div class="bottom-wrapper">
    <div class="message">
        <span>@Resources.Account_View_SignUp_Already_have_an_account</span>
        <a href="@Url.Action(MVC.Account.SignIn())">@Resources.Account_View_SignUp_SignInHere</a>.
    </div>
</div>

@Scripts.Render("~/Bundles/Idealforms/js")
@Scripts.Render("~/Bundles/Unfo/Account/Signup/js")