﻿@using System.Web.Optimization
@using Microsoft.Ajax.Utilities.Configuration
@using Microsoft.Owin.Security
@using Unfo.App_LocalResources
@model Unfo.Models.ViewModels.SignInVM
@{
    ViewBag.Title = Resources.Account_View_SignIn_Title;
    ViewBag.BodyId = "signin";
    Layout = MVC.Shared.Views._EmptyLayout;
}
@*@Styles.Render("~/Bundles/Idealforms/css")
@Styles.Render("~/Bundles/Unfo/Account/SignIn/css")*@

    <a href="index.html" class="logo">
        <i class="brankic-pen"></i>
    </a>
    <h3>@Resources.Account_View_SignIn_Welcome</h3>
<div class="content">
    <div id="signInAlertWrapper" class="alert-wrapper"></div>
    <form action="@Url.Action(MVC.Account.SignIn())" class="idealforms fade in" id="signInForm" method="post">
        <div class="fields">
            <strong>@Resources.c_EmailAdress</strong>
            <div class="field-ideal">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input id="Email" name="Email" class="form-control" type="text" placeholder="@Resources.c_Email" />
                </div>
                <span class="error"></span>
            </div>
            <strong>@Resources.Account_Password</strong>
            <div class="field-ideal password-field">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input id="Password" name="Password" class="form-control" type="password" placeholder="@Resources.Account_Password" />
                </div>
                <span class="error"></span>
            </div>
            <div class="info">
                <label>
                    <input type="checkbox" name="RememberMe" id="RememberMe" checked />
                    @Resources.Account_View_SignIn_RememberMe
                </label>
            </div>
        </div>
        <div class="actions">
            <button id="signInButton" type="submit" class="btn btn-primary btn-lg " disabled="disabled">@Resources.Account_View_SignIn_SignInToYourAccount</button>
        </div>
    </form>
    @{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
        if (loginProviders.Any())
        {
            <form id="externalLoginForm" action="@Url.Action(MVC.Account.ExternalLogin())" method="post">

                <div class="external-logins-container">
                    <div class="socials-title">@Resources.Account_View_SignIn_SignInWithSocialAccount</div>
                    <div class="socials-container">
                        <ul class="socials-list">
                            <li class="social-icon-wrapper twitter">
                                <div class="social-icon" id="Twitter" data-name="provider" data-value="Twitter"><i class="fa fa-twitter"></i></div>
                            </li>
                            <li class="social-icon-wrapper vkontakte">
                                <div class="social-icon" id="Vkontakte" data-name="provider" data-value="Vkontakte"><i class="fa fa-vk"></i></div>
                            </li>
                            <li class="social-icon-wrapper facebook">
                                <div class="social-icon" id="Facebook" data-name="provider" data-value="Facebook"><i class="fa fa-facebook"></i></div>
                            </li>
                            <li class="social-icon-wrapper googleplus">
                                <div class="social-icon" id="GooglePlus" data-name="provider" data-value="GooglePlus"><i class="fa fa-google"></i></div>
                            </li>
                        </ul>
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <input id="signInUrlReferrer" name="returnUrl" type="hidden" value="@Request.UrlReferrer">
                <input id="provider" name="provider" type="hidden" value="">
            </form>
        }
    }
</div>

    <div class="bottom-wrapper">
        <div class="message">
            <span>@Resources.Account_View_SignIn_DontHaveAnAccount</span>
            <a href="@Url.Action(MVC.Account.SignUp())">@Resources.Account_View_SignIn_SignUpHere</a>.
        </div>
    </div>

@Scripts.Render("~/Bundles/Idealforms/js")
@Scripts.Render("~/Bundles/Unfo/Account/SignIn/js")