﻿@using Unfo.Core.Helpers
@model Unfo.Models.ViewModels.CommonViewModels.DateTimeVm
@{
    // https://github.com/smalot/bootstrap-datetimepicker
    var dateTimeId = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix + "_Date";
}

    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        @Html.TextBoxFor(model => model.DateString, new { @class = "form-control datepicker", @placeholder = "01.01.2014" })
    </div>

@using (Html.Delayed(isOnlyOne: "datePicker_Script"))
{
    <script>

        $('.datepicker').datepicker({
            autoclose: true,
            orientation: 'left bottom',
            format: 'dd.mm.yyyy',
        });
    </script>
}
