﻿@using Unfo.Core.Helpers
@model Unfo.Models.ViewModels.CommonViewModels.EditableTextVM
@{
    var editorId = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix + "_editor";
    var editorText = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix + "_Text";
}

<div id="@(editorId)" class="summernote">
</div>

@Html.HiddenFor(model=>model.Text)

@using (Html.Delayed(isOnlyOne: "TextArea_Script"))
{
    <script src="/Scripts/Template/vendor/summernote.min.js"></script>
    <script>
        // Bootstrap wysiwyg
        $(".summernote").summernote({
            height: 240,
            toolbar: [
                ['style', ['style']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['picture', 'link', 'video']],
                ['view', ['fullscreen', 'codeview']],
                ['table', ['table']],
            ]
        });
    </script>
}

@using (Html.Delayed())
{
    <script>
        $(function () {
            $('#@(editorId)').code($('#@(editorText)').val());
        });

        $('form').on('submit', function() {
            var sHTML = $('#@(editorId)').code();
            $('#@(editorText)').val(sHTML);
        });
    </script>
}