﻿@using Unfo.Core
@using Unfo.Models.ViewModels.CommonViewModels
@model Unfo.Models.ViewModels.CommonViewModels.DateVM
@{
    // https://github.com/smalot/bootstrap-datetimepicker
    //var dateTimeId = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix + "_DateString";

}



<div class='input-group date datepicker'>
    @Html.TextBoxFor(model => model.DateString, new { data_date_format = DateVM.DateFormatJS, @class = "dateinput form-control  col-md-3", placeholder = Html.DisplayNameFor(model => model).ToString() })

    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>