﻿@model Unfo.Models.ViewModels.CommonViewModels.DateTimeRangeVM

<table class="date-range">
    <tr>
        <td class="startDate">@Html.EditorFor(model => model.StartDate)</td>
        <td class="endDate">@Html.EditorFor(model => model.EndDate)</td>
    </tr>
</table>

