﻿@using Unfo.Models.ViewModels.CommonViewModels
@model Unfo.Models.ViewModels.CommonViewModels.DateTimeVM
@{
    if (Model == null)
    {

    }
}
@{

    var dateTimeId = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix + "_DateString";
}
@*@Html.DisplayNameFor(model=>model)*@


<div class='input-group date datepicker'>
    @Html.TextBoxFor(model => model.DateString, new { data_date_format = DateTimeVM.DateFormatJS, @class = " dateinput form-control  col-md-4 hasTime" })

    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>