﻿@model Unfo.Models.ViewModels.EditDirections
<div class="col-md-5 directionItems">
    @if (Model != null && Model.DirectionItems.Any())
    {
        for (int i = 0; i < Model.DirectionItems.Count; i++)
        {
            
            @Html.HiddenFor(model => Model.DirectionItems[i].Key)
        
            <span class="tag label label-default">
                <span>@Model.DirectionItems[i].Value</span>
                <a data-id="@Model.DirectionItems[i].Key" class="removeDirection"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
            </span>

        }
    }
    else
    {
        <span class="text-muted">Нет направления</span>
    }
</div>
<div class="col-md-1">
    <a class="btn btn-link addDirection"><i class="glyphicon glyphicon-plus"></i></a>

</div>



