﻿@using Unfo.Models.ViewModels.CommonViewModels
@model Unfo.Models.ViewModels.CommonViewModels.ImageCropperVM
@{
    var id = ViewData.TemplateInfo.HtmlFieldPrefix;
}
@Html.HiddenFor(model => model.ID)
<div class="crop-image-block">
    <div class="image-container hide @(Model.TypeCrop == CropForm.Square?"avantar":"")">
        <img class="image-result"/>
    </div>
    <div class="image-uploader">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Выбрать картинку</span>
            <input id="imageuploader" type="file" name="files[]" data-url="/Cabinet/CommonResources/UploadImage">
            
           
        </span>
        <div id="progress" class="progress hide">
            <div class="bar " style="width: 0%;"></div>

        </div>
        
    </div>


    <div class="modal fade cropImageModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.c_ImageEditor</h4>
                </div>
                <div class="modal-body">
                    @if (Model.TypeCrop == CropForm.Square)
                    {
                        <div class="row">
                            <div class="col-md-8">
                                <div class="crop-image" data-type="@((int) Model.TypeCrop)" data-ratio="@(Model.Ratio)" data-width="@Model.Width" data-prefix="@(id)">
                                    <img src="/Content/images/bg.jpg" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>Миниатюра</p>
                                <div class="image-preview-block">
                                    <div class="image-preview" style="width: @(Model.Width)px; height: @(Model.Width)px;">
                                        <img src="/Content/images/bg.jpg" />
                                    </div>
                                </div>

                            </div>

                        </div>

                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="crop-image" data-type="@((int) Model.TypeCrop)" data-ratio="@(Model.Ratio)" data-prefix="@(id)">
                                    <img src="/Content/images/bg.jpg" />
                                </div>
                            </div>

                        </div>
                    }

                    <span class="image_params">
                        <input type="hidden" name="PointX" value="@(Model.PointX)"/>
                        <input type="hidden" name="PointY" value="@(Model.PointY)" />
                        <input type="hidden" name="Height" value="@(Model.Height)" />
                        <input type="hidden" name="Width" value="@(Model.Width)" />
                        <input type="hidden" name="TypeCrop" value="@(Model.TypeCrop)" />
                        <input type="hidden" name="Ratio" value="@(Model.Ratio)" />
                        <input type="hidden" name="ID" value="@(Model.ID)" />
                        @*@Html.HiddenFor(model => model.PointX)
                        @Html.HiddenFor(model => model.PointY)
                        @Html.HiddenFor(model => model.Height)
                        @Html.HiddenFor(model => model.Width)
                       
                        @Html.HiddenFor(model => model.TypeCrop)
                        @Html.HiddenFor(model => model.Ratio)*@
                    </span>
                    

                </div>
                <div class="modal-footer">
                    <span class="upload-progress"></span>
                    <button type="button" class="btn btn-default closeModal" data-dismiss="modal">@Unfo.App_LocalResources.Resources.c_Close</button>
                    <input type="button" class="btn btn-primary cropImageBtn" value="@Unfo.App_LocalResources.Resources.c_Save" />
                </div>

            </div>
        </div>
    </div>

</div>
