﻿@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@model Unfo.Models.ViewModels.Dictionaries.LocationVM
@{
    var cultures = CurrentEvent.GetAccessCultures();
}
<div class="locationItem">

    <table>
        <tr>
            <td class="country">
                @Html.LabelFor(model => model.CountryId)
                @Html.DropDownListFor(model => model.CountryId, (IEnumerable<SelectListItem>)ViewBag.Locations, null, new { @class = "countryId form-control" })
                @Html.ValidationMessageFor(model => model.CountryId)
            </td>
            <td class="city">
                @Html.LabelFor(model => model.CityName)
                @Html.TextBoxFor(model => model.CityName, new { @class = "cityName form-control" })
                @Html.ValidationMessageFor(model => model.CityName)
            </td>
            <td class="street">
                @Html.LabelFor(model => model.StreetName)
                @Html.TextBoxFor(model => model.StreetName, new { @class = "streetName form-control" })
                @Html.ValidationMessageFor(model => model.StreetName)
            </td>
            <td class="building">
                @Html.LabelFor(model => model.BuildingNumber)
                @Html.TextBoxFor(model => model.BuildingNumber, new { @class = "buildingNumber form-control" })
                @Html.ValidationMessageFor(model => model.BuildingNumber)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.EventId)
    @Html.HiddenFor(model => model.Language)
    @Html.HiddenFor(model => model.KladrStreetId, new { @class = "kladrStreetId" })
    @Html.HiddenFor(model => model.KladrCityId, new { @class = "kladrCityId" })
    <span class="text-muted">
        @cultures[Model.Language]
    </span>
    @Html.HiddenFor(model => model.Lat)
    @Html.HiddenFor(model => model.Lon)
</div>