﻿@model Unfo.Models.ViewModels.SelectHall

<div class="col-md-6 col-xs-8 no-margin">
    @Html.DropDownListFor(model => model.Id, (IEnumerable<SelectListItem>)ViewBag.Halls, "Выберите зал", new { @class = "form-control select-hall" })
</div>
<div class="col-md-6 col-xs-4 no-margin">
    <a class="btn btn-link addHall"><i class="glyphicon glyphicon-plus"></i></a>

</div>


