﻿@model Unfo.Models.ViewModels.SelectDirections


<div class="col-md-6 col-xs-8 no-margin">
    @Html.DropDownListFor(model => model.Id, (IEnumerable<SelectListItem>)ViewBag.Direction,"Выберите направление", new { @class = "form-control select-direction"})
</div>
<div class="col-md-6 col-xs-4 no-margin">
    <a class="btn btn-link addDirection"><i class="glyphicon glyphicon-plus"></i></a>

</div>



