﻿@model Unfo.Models.ViewModels.SelectSection

<div class="col-md-6 col-xs-8 no-margin">
    @Html.DropDownListFor(model => model.Id, (IEnumerable<SelectListItem>)ViewBag.Sections, "Выберите секцию", new { @class = "form-control select-section" })
</div>
<div class="col-md-6 col-xs-4 no-margin">
    <a class="btn btn-link addSection"><i class="glyphicon glyphicon-plus"></i></a>

</div>


