﻿@using HtmlHelpers.BeginCollectionItem
@model Unfo.Models.ViewModels.SpeakerItem




<div class="speaker-item">
    <div class="speaker-field">
        @Html.DropDownListFor(model => model.SpeakerId, (IEnumerable<SelectListItem>)ViewBag.Speakers, "Выберите", new { @class = "form-control select-speaker col-md-8" })


    </div>
    <div>
        <a class="btn btn-link addSpeaker">@Unfo.App_LocalResources.Resources.Report_AddSpeaker</a>
    </div>
    @if (Model != null && !(bool)ViewBag.HasSubReport)
    {
        <div class="speaker-report" style="display: none;">
            <div class="speaker-field">
                @Html.TextBoxFor(model => model.ReportName, new { @class = "form-control", placeholder = Unfo.App_LocalResources.Resources.Report_NameSubreport })
            </div>
            <div class="speaker-field">
                @Html.EditorFor(model => model.DateRange)
            </div>

            <div>
                <a class="deleteItem">@Unfo.App_LocalResources.Resources.c_Delete</a>
            </div>
        </div>
    }
    else
    {
        <div class="speaker-report">
            <div class="speaker-field">
                @Html.TextBoxFor(model => model.ReportName, new { @class = "form-control", placeholder = Unfo.App_LocalResources.Resources.Report_NameSubreport })
            </div>
            <div class="speaker-field">
                @Html.EditorFor(model => model.DateRange)
            </div>

            <div>
                <a class="deleteItem">@Unfo.App_LocalResources.Resources.c_Delete</a>
            </div>
        </div>
    }



</div>


