﻿@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@model Unfo.Models.ViewModels.Dictionaries.SpeakerVM
@{
    var cultures = CurrentEvent.GetAccessCultures();
}
<div class="speacker-item">
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.EventId)
    @Html.HiddenFor(model => model.Language)

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control copy", data_copy = "Email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control copy translit", data_copy = "Fio" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Specialization, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextBoxFor(model => model.Specialization, new { @class = "form-control copy translit", data_copy = "Specialization" })
            @Html.ValidationMessageFor(model => model.Specialization)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Company, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextBoxFor(model => model.Company, new { @class = "form-control copy translit", data_copy = "Company" })
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control copy", data_copy = "Phone" })
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.City, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextBoxFor(model => model.City, new { @class = "form-control copy translit", data_copy = "City" })
            @Html.ValidationMessageFor(model => model.City)
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.VkURL, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextBoxFor(model => model.VkURL, new { @class = "form-control copy", data_copy = "VkURL" })
            @Html.ValidationMessageFor(model => model.VkURL)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FacebookURL, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextBoxFor(model => model.FacebookURL, new { @class = "form-control copy", data_copy = "FacebookURL" })
            @Html.ValidationMessageFor(model => model.FacebookURL)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdditionalInformation, new { @class = "control-label col-md-4 col-sm-2" })
        <div class="col-md-8  col-sm-10">
            @Html.TextAreaFor(model => model.AdditionalInformation, new { @class = "form-control copy", data_copy = "AdditionalInformation" })
            @Html.ValidationMessageFor(model => model.AdditionalInformation)
        </div>
    </div>
    <span class="text-muted">
        @cultures[Model.Language]
    </span>
</div>

