﻿@model List<Unfo.Models.ViewModels.LocalizeForm<Unfo.Models.ViewModels.VoteQuestionViewModel>>
           
@using Glimpse.Mvc.AlternateType
@using HtmlHelpers.BeginCollectionItem
@using Unfo.Models.ViewModels
@{
    var lang = ViewData["language"];
}

<ul>
    @if (Model != null)
    {
        foreach (var model in Model)
        {
            using (Html.BeginCollectionItem(Html.ViewData.TemplateInfo.HtmlFieldPrefix))
            {
                @Html.EditorFor(d => model, MVC.Cabinet.Shared.Views.EditorTemplates.VoteQuestionViewModel)
            }
        }
    }
</ul>