﻿@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@model Unfo.Models.ViewModels.VoteQuestionViewModel
@{

}

    <li style="margin-bottom: 10px;">
        <div>
            @Html.HiddenFor(model => model.ID)
            @Html.TextAreaFor(model => model.Name, new {@class = "form-control", @placeholder = "Текст вопроса"})
        </div>
    </li>
