﻿@using CsQuery.ExtensionMethods
@using Unfo.Core.GlobalClasses
@using HtmlHelpers.BeginCollectionItem
@using UnfoIdentitySystem.GlobalStaticClasses

@model Unfo.Models.ViewModels.VoteViewModel
@{
    var cultures = CurrentEvent.GetAccessCultures();
    var currentFormIndex = ViewData["modelIndex"];
}

@Html.HiddenFor(d => d.ID)
@Html.HiddenFor(model => model.EventID)
<h4> @*@cultures[Model.Language]*@ </h4>


@Html.LabelFor(model => model.Name)
@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.Name)


@Html.LabelFor(model => model.Description, new { @class = "control-label" })
@Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.Description, null, new { @class = "help-inline" })

@Html.EditorFor(d => d.IsOpros) @(Resources.Voting_Опрос + "?")

<hr>
<div id="questions_list">
    <ul>
        @{
            if (Model.Questions != null)
            {
                foreach (var model in Model.Questions)
                {
                    using (Html.BeginCollectionItem("questions"))
                    {
                        @Html.EditorFor(d => model, MVC.Cabinet.Shared.Views.EditorTemplates.VoteQuestionViewModel)
                    }
                }
            }
        }
    </ul>            
    <div id="addQuestion" class="btn btn-default" data-url="@(Url.Action(MVC.Cabinet.Voting.GetVoteQuestion()))">
                <span class="glyphicon glyphicon-plus"></span>
                @(Resources.Voting_Добавить_вариант)
            </div>

</div>

