﻿span.twitter-typeahead {
    width: 100%;

    .tt-dropdown-menu {
        position: absolute;
        top: 125% !important;
        left: 0;
        z-index: 1000;
        width: 100%;
        display: inline;
        float: left;
        min-width: 160px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border-radius: 4px;
        outline: 0;
        height: 0;
        box-shadow: 0 8px 13px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.06);
        opacity: 0;
        transition: all 750ms cubic-bezier(0.34, 1.41, 0.7, 1);

        &.active {
            opacity: 1;
            height: 90px;
        }
        /*background-clip: padding-box;*/
        max-height: 330px;
        overflow-y:auto;
        overflow-x: hidden;
    }
}



.input-group {
    span.twitter-typeahead {
        display: block !important;
        /*.tt-dropdown-menu {
            top: 32px !important;
        }*/
    }
}

.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important;
}

.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important;
}

.tt-hint {
    color: #999;
}