﻿@using DataModel
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.Helpers
@using Unfo.Models.ViewModelRepositories
@model List<Unfo.Models.ViewModels.UnfoUserVM>
@{
    UsersFilterParams filterParams = ViewBag.UsersFilterParams ?? new UsersFilterParams();
    var activityEngine = new HtmlEngine<FilterRole>();
    activityEngine.SetCurrentActiveItem(filterParams.FilterRole);
}

<div class="users page-controls">
    <div class="filters">

        <a href="@Url.UnfoRouteUrl(MVC.Cabinet.Users.Index(filterParams.SetFilterRole(FilterRole.None)))" class="@activityEngine.GetActivity(FilterRole.None)">@Resources.Users_Filter_AllUsers</a>
        @if (User.IsInRole(Role.Admin))
        {
            <a href="@Url.UnfoRouteUrl(MVC.Cabinet.Users.Index(filterParams.SetFilterRole(FilterRole.Admin)))" class="@activityEngine.GetActivity(FilterRole.Admin)">@Resources.Users_Filter_Admins</a>
        }
        @if (User.IsInRole(Role.Admin, Role.Organizer))
        {
            <a href="@Url.UnfoRouteUrl(MVC.Cabinet.Users.Index(filterParams.SetFilterRole(FilterRole.Organizer)))" class="@activityEngine.GetActivity(FilterRole.Organizer)">@Resources.Users_Filter_Organizers</a>
        }
        @if (User.IsInRole(Role.Admin, Role.Organizer))
        {
            <a href="@Url.UnfoRouteUrl(MVC.Cabinet.Users.Index(filterParams.SetFilterRole(FilterRole.Moderator)))" class="@activityEngine.GetActivity(FilterRole.Moderator)">@Resources.Users_Filter_Moderators</a>
        }
    </div>
    <div class="result-count">
        <span>
            @if (filterParams.ResultCount > 0)
            {
                @Html.Declination(filterParams.ResultCount, Resources.Users_Filter_FindedUsers_NominativeSingular,
                     Resources.Users_Filter_FindedUsers_NominativePlural,
                     Resources.Users_Filter_FindedUsers_GenetivePlural)
            }
            else
            {
                <span>@Resources.c_NoResults</span>
            }
        </span>
    </div>
</div>