﻿@using DataModel
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.HtmlHelpers
@using Unfo.Models.ViewModelRepositories
@model List<Unfo.Models.ViewModels.UnfoUserVM>
@{
	UsersFilterParams filterParams = ViewBag.UsersFilterParams ?? new UsersFilterParams();
    string title = ViewBag.Title;
    bool isModeratorView = ViewBag.IsModeratorView ?? false;
    var action = isModeratorView ? MVC.Cabinet.Users.Moderators() : MVC.Cabinet.Users.Index();
}
    <div class="menubar user-search">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            @title
        </div>
        <form class="search hidden-xs" action="@Url.UnfoRouteUrl(action)">
            @Html.Hidden("TypeSorting", filterParams.TypeSorting)
            @Html.Hidden("FilterRole", filterParams.FilterRole)
            @Html.Hidden("EventId", filterParams.EventId)
            @Html.Hidden("AmountOfElementsPerPage", filterParams.AmountOfElementsPerPage)
            @Html.Hidden("CurrentPage", 1)

            <i class="fa fa-search"></i>
            <input type="text" name="SearchQuery" placeholder="@Resources.Users_Search_Placeholder" value="@filterParams.SearchQuery">
            <input type="submit">
        </form>
        @if (isModeratorView)
        {
            <div id="addModeratorBtn" data-toggle="modal" data-target="#addModeratorModal" class="btn btn-success add-moderator-btn">@Resources.Users_Moderators_Add</div>
        }
    </div>
