﻿@using System.Web.Optimization
@using DataModel
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.HtmlHelpers
@using Unfo.Models.ViewModelRepositories
@using Route = Unfo.Core.Route
@model List<Unfo.Models.ViewModels.UnfoUserVM>
@{
	UsersFilterParams filterParams = ViewBag.UsersFilterParams ?? new UsersFilterParams();
    var isVisibleCheckBoxs = ViewBag.IsVisibleCheckBox ?? false;
    var isModeratorView = ViewBag.IsModeratorView ?? false;
    var visibleCheckBoxCss = isVisibleCheckBoxs ? "visible" : "hidden";
}
<div class="users table-container page-controls">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="head-checkbox @visibleCheckBoxCss">
                    <input type="checkbox">
                    <span class="line"></span>
                </th>
                <th class="col-md-4 sortable">
                    <div class="th-content name-container">
                        <a href="@Url.UnfoUsersSortUrl(filterParams.SetSort(TypeUsersSortingVm.Name))" class="name">@Resources.c_Name</a>
                    </div>
                    <div class="dropdown users-actions">
                        <a id="usersAcitonsLabel" data-toggle="dropdown" data-target="#" href="#"> @Resources.c_Actions<span id="numOfUsers"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="usersAcitonsLabel">
                          <li><a id="deleteFromModerator" href="#">@Resources.Users_Table_DeleteFromModerators</a></li>
                        </ul>
                    </div>
                </th>
                <th class="col-md-3 sortable">
                   <div class="th-content"> <span class="line"></span>@Resources.c_Email</div>
                </th>
                <th class="col-md-2 sortable">
                  <div class="th-content">  <span class="line"></span>@Resources.c_Phone</div>
                </th>
                <th class="col-md-2 sortable">
                  <div class="th-content">  <span class="line"></span>@Resources.c_City</div>
                </th>
                <th class="col-md-3 sortable align-right">
                   <div class="th-content">
                    	 <span class="line"></span>
                    	<a href="@Url.UnfoUsersSortUrl(filterParams.SetSort(TypeUsersSortingVm.SignedUp))" class="name">@Resources.Users_Table_Registered</a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var listUser in Model)
            {
                const string privateCss = "private";
                var privateEmail = listUser.Email ?? privateCss;
                var privatePhone = listUser.PhoneNumber ?? privateCss;

                <tr>
                    <td class="row-checkbox @visibleCheckBoxCss">
                        <input type="checkbox">
                    </td>
                    <td class="person-info">
                        @Html.Hidden("userId", listUser.Id)
                        <div class="avatar-container"><img src="/Content/images/avatars/6.jpg" alt="contact" class="img-circle avatar"></div>
                        <div class="fio-container">
                            <a href="@Url.UnfoRouteUrl(Route.UserInfo, MVC.Cabinet.Users.UserInfo(listUser.Id))" class="name">@listUser.ToString()</a>
                            @if (listUser.HasRole(Role.Admin) && User.IsInRole(Role.Admin))
                            {
                                <span class="label label-warning">@Resources.c_Admin</span>
                            }
                            @if (listUser.HasRole(Role.Organizer) && User.IsInRole(Role.Admin, Role.Organizer))
                            {
                                <span class="label label-primary">@Resources.c_Organizer</span>
                            }
                            @if (listUser.HasRole(Role.Moderator) && User.IsInRole(Role.Admin, Role.Organizer))
                            {
                                <span class="label label-info">@Resources.c_Moderator</span>
                            }
                        </div>
                    </td>
                    <td>
                        <a class="email @privateEmail" href="mailto:@listUser.Email ">@(listUser.Email ?? Resources.c_Hidden) </a>

                    </td>
                    <td>
                        <span class="@privatePhone">@(listUser.PhoneNumber ?? Resources.c_Hidden)</span>
                    </td>
                    <td>
                        Тюмень
                    </td>
                    <td class="align-right">
                        @listUser.SignUpDate.ToString("dd MMM, yyyy")
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>



<div class="pagination-containter">
    @Html.Pager(filterParams, nextPageIndex => Url.UnfoRouteUrl(isModeratorView ? MVC.Cabinet.Users.Moderators(filterParams.SetCurrentPage(nextPageIndex)) : MVC.Cabinet.Users.Index(filterParams.SetCurrentPage(nextPageIndex))))
</div>

@Scripts.Render("~/Bundles/Cabinet/Users/ts")