﻿<div class="bottom-menu hidden-sm">
    <ul>
        <li><a href="#"><i class="ion-help"></i></a></li>
        <li>
            <a href="#">
                <i class="ion-earth"></i>
            </a>
            <ul class="menu">
                <li><a href="#" class="change-lang" data-lang="ru">Русский</a></li>
                <li><a href="#" class="change-lang" data-lang="en">English</a></li>
                <!-- <li><a href="#">3 features added</a></li> -->
            </ul>
        </li>
        <li><a href="#"><i class="ion-log-out"></i></a></li>
    </ul>
</div>