﻿@model Unfo.Models.ViewModels.CreateEventVM

@using System.Web.Optimization
@using Unfo.Core

<div class="modal fade" id="createEventModal"  tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "Events", new { Area = "Cabinet" }, FormMethod.Post, new { @class = "", id = "event-form" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Создание мероприятия</h4>
                </div>
                <div class="modal-body">
                    <div class="create-wizard">

                        <div class="steps">
                            <div class="step-panel active choose-plan">
                                <div class="instructions">
                                    <strong>Please choose a plan below</strong> that best suites your needs, you can cancel your account, upgrade or downgrade any time.
                                </div>

                                <div class="plans">
                                    <div class="plan clearfix" data-tariff-id="1">
                                        <div class="price">
                                            Бесплатно
                                        </div>
                                        <div class="info">
                                            <div class="name">
                                                Базовый
                                            </div>
                                            <div class="details">
                                                2 people, 1 workspace, 1 GB storage
                                            </div>
                                            <div class="select">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="plan clearfix" data-tariff-id="2">
                                        <div class="price">
                                            40 000 р.
                                        </div>
                                        <div class="info">
                                            <div class="name">
                                                Хорошее мероприятие
                                            </div>
                                            <div class="details">
                                                5 people, 1 workspace, 5 GB storage
                                            </div>
                                            <div class="select">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="plan clearfix" data-tariff-id="3">
                                        <div class="price">
                                            100 000 р.
                                        </div>
                                        <div class="info">
                                            <div class="name">
                                                Очень хорошее мероприятие
                                            </div>
                                            <div class="details">
                                                10 people, 1 workspace, 10 GB storage
                                            </div>
                                            <div class="select">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="action">
                                        <a href="#" class="btn btn-primary" data-step="1">
                                            Далее
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="step-panel event-settings">
                                @Html.ValidationSummary(false)
                                <div class="instructions">
                                    <strong>Укажите название и дополнительные услуги</strong> мероприятия, которое хотите провести.
                                </div>
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.TariffId)
                                @*@Html.ValidationMessageFor(model => model.TariffId)*@
                                <div class="form-group">
                                    <label class="control-label">Название мероприятия</label>

                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(model => model.Name)*@
                                </div>



                                <div class="additionals">
                                    <h5>Дополнительные услуги</h5>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(model => model.IsBranding) Брендирование
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(model => model.IsLocalize) Локализация
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(model => model.HasAdministrator) Администрирование
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="action">
                                    <a href="#" data-step="0" class="btn btn-default pull-left">
                                        <i class="fa fa-chevron-left"></i>
                                        Назад
                                    </a>
                                    <input type="submit" style="display:none;" />
                                    <a href="#" class="btn btn-success pull-right disabled" id="createEventBtn">
                                        Создать мероприятие
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>
</div>
@Scripts.Render("~/Bundles/Cabinet/Event/Create")