﻿@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.GlobalClasses
@using Route = Unfo.Core.Route
<div class="current-user">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="name">
            <img class="avatar" src="/Content/images/avatars/1.jpg" />
            <span>
                @User.FirstName @User.SurName
              
            </span>

        </div>
    <i class="fa fa-chevron-down"></i>
        <ul class="menu">
            <li>
                <a href="@Url.UnfoRouteUrl(Route.CabinetDefault, MVC.Cabinet.MyAccount.Profile())">@Resources.CurrentUserPV_ProfileSettings</a>
            </li>
            <li>

                <a href="@Url.Action(MVC.Account.LogOff())">@Resources.CurrentUserPV_Signout</a>
            </li>
        </ul>
    }
    else
    {
       <a href="@Url.Action(MVC.Account.SignIn())" class="button"><span>@(Resources.t_Log_In)</span></a>
    }

</div>
