﻿@using System.Web.Optimization
@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@using Route = Unfo.Core.Route
@model Unfo.Models.ViewModels.LocalizeForm<Unfo.Models.ViewModels.Dictionaries.DirectionVM>

@using (Html.BeginRouteForm(Route.Event, new { Area = "Cabinet", eventName = CurrentEvent.UEvent.TranslitName, controller = "Dictionaries", action = "EditDirection" }, FormMethod.Post, new { id = "directionForm" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">@Unfo.App_LocalResources.Resources.t_Direction</h4>
    </div>
    <div class="modal-body">
        @for (int i = 0; i < Model.Forms.Count; i++)
        {
            <div class="form-group">
                @Html.EditorFor(model => Model.Forms[i])
            </div>
        }

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default closeModal" >@Unfo.App_LocalResources.Resources.c_Close</button>
        <input type="submit" class="btn btn-primary" value="@Unfo.App_LocalResources.Resources.c_Save" />
    </div>
}
@Scripts.Render("~/Bundles/Cabinet/Dics/DirectionModal")
