﻿@using Unfo.Areas.Cabinet.Controllers
@using Unfo.Core
@using Unfo.Core.Helpers

@{
    var activityEngine = new HtmlEngine();
}

<div id="sidebar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <h3>@Resources.MyAccount_LeftMenuBar_Header</h3>
    <ul class="menu">
        <li>@{ var profile = MVC.Cabinet.MyAccount.Profile();}
            <a href="@Url.Action(profile)" class="@activityEngine.GetActivity(profile)">
                <i class="fa fa-user fa-lg"></i>
                @Resources.MyAccount_LeftMenuBar_Link_Profile
            </a>
        </li>
        <li>@{ var manageExternalLogins = MVC.Cabinet.MyAccount.ManageExternalLogins();}
            <a href="@Url.Action(manageExternalLogins)" class="@activityEngine.GetActivity(manageExternalLogins)">
                <i class="fa fa-share-alt  fa-lg"></i>
                @Resources.MyAccount_LeftMenuBar_Link_ExternalLogins
            </a>
        </li>
        <li>@{ var managePassword = MVC.Cabinet.MyAccount.ManagePassword();}
            <a href="@Url.Action(MVC.Cabinet.MyAccount.ManagePassword())" class="@activityEngine.GetActivity(managePassword)">
                <i class="fa fa-key  fa-lg"></i>
                @if (User.HasPassword)
                {
                    <span>@Resources.MyAccount_LeftMenuBar_Link_ChangePassword</span>
                }
                else
                {
                    <span>@Resources.MyAccount_LeftMenuBar_Link_AddPassword</span>
                }
            </a>
        </li>
        <li>@{ var userPrivacyPolitics = MVC.Cabinet.MyAccount.UserPrivacyPolitics();}
            <a href="@Url.Action(userPrivacyPolitics)" class="@activityEngine.GetActivity(userPrivacyPolitics)">
                <i class="fa fa-lock  fa-lg"></i>
                @Resources.MyAccount_LeftMenuBar_Link_PrivacyPolitic
            </a>
        </li>
        <li>@{ var userRequests = MVC.Cabinet.MyAccount.UserRequests();}
            <a href="@Url.Action(userRequests)" class="@activityEngine.GetActivity(userRequests)">
                <i class="fa fa-exchange fa-lg"></i>
                @Resources.MyAccount_LeftMenuBar_Link_Requests
            </a>
        </li>
    </ul>
</div>
