﻿@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@{
    var cul = CurrentEvent.GetAccessCultures();
    var activeLang = Request.Cookies[CurrentLocalization.CookieName] == null ? "ru" : Request.Cookies[CurrentLocalization.CookieName].Value;
}
@if (CurrentEvent.UEvent.IsLocalization&&cul != null && cul.Any() && (cul.Count()>1))
{
    <div class="tabs">
        <ul>
            @foreach (var item in cul)
            {
                <li>
                    <a href="#" data-lang="@(item.Key)" 
                       class="content-culture @(activeLang == item.Key ? "active" : "")">@item.Value</a>
                </li>
            }
        </ul>
    </div>
}
