﻿@using System.Web.Optimization
@using Unfo.App_LocalResources
@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using Unfo.Core.Helpers
@using Unfo.Models.ViewModels
@{
    Layout = null;
    var isMyAccount = ViewBag.IsMyAccount ?? false;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @{ Html.RenderPartial(MVC.Shared.Views._Localization); }
    <!-- stylesheets -->
    @Styles.Render("~/Bundles/WolfThemeStyles")

    @* Закоментировано потому что пока еще нет стилей кастомных для кабинета *@
    @*@Styles.Render("~/Bundles/CabinetCommonStyles")*@
    @Scripts.Render("~/Bundles/Modernizr", "~/Bundles/Jquery")
    @Scripts.Render("~/Bundles/CommonScripts", "~/Bundles/Unfo/Common")
 
</head>
<body id="@(ViewBag.BodyId)" class="@ViewBag.BodyClass">
    @* Глобальный антифорджери токен для ajax пост запросов*@
    @Html.AntiForgeryToken()
    @Html.Hidden("CurrentEventId", CurrentEvent.ID)
    @Html.Hidden("CurrentUserId", User.Id)

    <div id="PopupWrapper" class="global-popup-wrapper"></div>

    @Html.Partial(MVC.Shared.Views._QUnitFurniture)

    <div id="wrapper">
        <div id="sidebar-default" class="main-sidebar">
            @Html.Partial(MVC.Cabinet.Shared.Views._CurrentUserPV)

            @Html.Partial(MVC.Cabinet.Shared.Views._LeftMenu)

            @Html.Partial(MVC.Cabinet.Shared.Views._BottomMenuPV)
        </div>
        <div class="page-alerts">@Html.ShowAlert(true)</div>
        <div id="content">

            @if (isMyAccount)
            {

                
                @Html.Partial(MVC.Cabinet.Shared.Views._InnerLeftSideBarPV)
                
                <div id="panel">
                    @*<div class="menubar fixed">
                        <div class="sidebar-toggler visible-xs">
                            <i class="ion-navicon"></i>
                        </div>

                        <div class="page-title">
                            Customers
                        </div>
                        <form class="search hidden-xs">
                            <i class="fa fa-search"></i>
                            <input type="text" name="q" placeholder="Search customers, clients...">
                            <input type="submit">
                        </form>
                        <a href="form.html" class="new-user btn btn-success pull-right">
                            <span>New user</span>
                        </a>
                    </div>*@
                    @RenderBody()
                </div>
                @Scripts.Render("~/Bundles/Idealforms/js")

            }
            else
            {
                //Меню бар не фиксированный - можно отключить на нужной вьюшке задав во вьюбаг нужный флаг
                bool isShowTopBar = ViewBag.IsShowTopBar ?? true;
                if (isShowTopBar)
                {
                    <div class="menubar">
                        <div class="sidebar-toggler visible-xs">
                            <i class="ion-navicon"></i>
                        </div>
                        <div class="page-title">
                            @ViewBag.Title
                        </div>
                        @* Здесь может находится как фиксированный бар заменяющий весь блок - так и определенные кнопки действия *@
                        @RenderSection("ExtendedHeaderBlock", required: false)
                    </div>
                }
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            }
        </div>
        @Html.Partial(MVC.Cabinet.Shared.Views._SkinSwitcherPV)
        @Html.Partial("_CreateEventModal", new CreateEventVM())
    </div>

    @Scripts.Render("~/Bundles/ThemeScripts")
    @Scripts.Render("~/Bundles/Unfo/CommonTemplates")

    @RenderSection("scripts", required: false)
    @Html.RenderDelayed()
</body>
</html>