@using System.Activities.Statements
@using System.Runtime.Versioning
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.GlobalClasses
@using Unfo.Core.Helpers
@using DataModel
@using Unfo.Models.UnfoBusinessLogic.Events
@using UnfoIdentitySystem.GlobalStaticClasses
@{
    var htmlEngine = new HtmlEngine();
}

<div class="menu-body">
    <div class="menu-section">
        <h3>@(Resources.Menu_Events)</h3>
        <ul>
            <li>
                @{ var favoriteEvents = MVC.Cabinet.Events.Favorite(); }
                <a href="@(Url.UnfoCabinetRouteUrl(favoriteEvents))"
                   class="@htmlEngine.GetActivity(favoriteEvents)">
                    <i class="ion-archive"></i>
                    <span>@(Resources.Menu_Schedule_Events)</span>
                </a>
            </li>
            <li>
                @{ var activeEvents = MVC.Cabinet.Events.Active(); }
                <a href="@(Url.UnfoCabinetRouteUrl(activeEvents))"
                   class="@htmlEngine.GetActivity(activeEvents)">
                    <i class="ion-clock"></i>
                    <span>@(Resources.Menu_Active_Events)</span>
                </a>
            </li> 

            <li>
                @{ var allEvents = MVC.Cabinet.Events.All(); }
                <a href="@(Url.UnfoCabinetRouteUrl(allEvents))"
                   class="@htmlEngine.GetActivity(allEvents)">
                    <i class="ion-paperclip"></i>
                    <span>@(Resources.Menu_All_Events)</span>
                </a>
            </li>
        </ul>
    </div>

    @if (User.IsInRole(Role.Admin, Role.Moderator, Role.Organizer))
    {
        <div class="menu-section">
            <h3>
                @(Resources.Menu_Administration)
            </h3>
            <ul>
                @if (User.IsInRole(Role.Admin))
                {
                    <li>
                        @{ var requests = MVC.Cabinet.UserRequests.Index(); }
                        <a href="@Url.UnfoCabinetRouteUrl(requests)"
                           class="@htmlEngine.GetActivity(requests)">
                            <i class="ion-navicon"></i>
                            <span>@Resources.Menu_Administration_Requests</span>
                        </a>
                    </li>

                    <li>
                        @{ var users = MVC.Cabinet.Users.Index(); }
                        <a href="@Url.UnfoCabinetRouteUrl(users)"
                           class="@htmlEngine.GetActivity(users)">
                            <i class="fa fa-users fa-lg"></i>
                            <span>@Resources.Menu_Administration_Users</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole(Role.Organizer))
                {
                    <li>
                        <a @*href="@(Url.UnfoRouteUrl(MVC.Cabinet.Events.Create()))"*@
                           class="@htmlEngine.GetActivity(MVC.Cabinet.Events.Create())" id="createEvent">
                            <i class="ion-plus"></i>
                            <span> @(Resources.Menu_New_Event)</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole(Role.Moderator))
                {
                    <li>
                        @{ var myModerateEvents = MVC.Cabinet.Events.MyModerate(); }
                        <a href="@(Url.UnfoCabinetRouteUrl(myModerateEvents))"
                           class="@htmlEngine.GetActivity(myModerateEvents)">
                            <i class="ion-stats-bars"></i>
                            <span>@(Resources.Menu_Events)</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

    @if (CurrentEvent.ID != Guid.Empty)
    {

        <div class="menu-section">
            <h3>@(Resources.Menu_Control_Section_Name)</h3>
            <h3>@(CurrentEvent.GetLocalizeName())</h3>
            <ul>
                <li class="option">
                    @{
                        var speakers = MVC.Cabinet.Speakers.Index();
                        var sections = MVC.Cabinet.Dictionaries.Sections();
                        var halls = MVC.Cabinet.Dictionaries.Halls();
                        var directions = MVC.Cabinet.Dictionaries.Directions();
                        var locations = MVC.Cabinet.Dictionaries.Locations();
                        var addSponsors = MVC.Cabinet.Sponsors.Index();
                        var adverts = MVC.Cabinet.Adverts.Index();

                        var activeDictionariesCss = htmlEngine.GetActivity(speakers, sections, halls, directions, locations, addSponsors, adverts);
                        var toggledDicrionariesCss = string.IsNullOrWhiteSpace(activeDictionariesCss) ? "" : "toggled";
                        var blockSubMenuStyle = string.IsNullOrWhiteSpace(activeDictionariesCss) ? "display:none" : "display:block";
                    }
                    <a href="#" data-toggle="sidebar" class="@activeDictionariesCss @toggledDicrionariesCss">
                        <i class="ion-navicon"></i> <span>Справочники</span>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                   
                    <ul class="submenu" style="@blockSubMenuStyle">
                        <li>
                            @{  }
                            <a href="@(Url.UnfoRouteUrl(speakers))"
                               class="@htmlEngine.GetActivity(speakers)">
                                @*<i class="ion-ios7-people-outline"></i>*@
                                <span>@(Resources.t_Speakers)</span>
                            </a>
                        </li>
                        <li>
                            @{  }
                            <a href="@(Url.UnfoRouteUrl(sections))"
                               class="@htmlEngine.GetActivity(sections)">
                                @*<i class="ion-navicon"></i>*@
                                <span>@(Resources.t_Sections)</span>
                            </a>
                        </li>
                        <li>
                            @{ }
                            <a href="@(Url.UnfoRouteUrl(halls))"
                               class="@htmlEngine.GetActivity(halls)">
                                @*<i class="ion-navicon"></i>*@
                                <span>@(Resources.t_Halls)</span>
                            </a>
                        </li>
                        <li>
                            @{ }
                            <a href="@(Url.UnfoRouteUrl(directions))"
                               class="@htmlEngine.GetActivity(MVC.Cabinet.Dictionaries.Directions())">
                                @*<i class="ion-flag"></i>*@
                                <span>@(Resources.t_Directions)</span>
                            </a>
                        </li>
                        <li>
                            @{ }
                            <a href="@(Url.UnfoRouteUrl(locations))"
                               class="@htmlEngine.GetActivity(locations)">
                                @*<i class="ion-location"></i>*@
                                <span>@(Resources.t_Places)</span>
                            </a>
                        </li>
                        <li>
                            @{  }
                            <a href="@(Url.UnfoRouteUrl(addSponsors))"
                               class="@htmlEngine.GetActivity(addSponsors)">
                                @*<i class="ion-navicon"></i>*@
                                <span>@(Resources.t_Sponsors)</span>
                            </a>
                        </li>
                        <li>
                            @{  }
                            <a href="@(Url.UnfoRouteUrl(adverts))"
                               class="@htmlEngine.GetActivity(adverts)">
                                @*<i class="ion-alert"></i>*@
                                <span>@(Resources.t_Adverts)</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    @{
        var info = MVC.Cabinet.Info.Index();
        var settings = MVC.Cabinet.Settings.Index();
        var eventsEdit = MVC.Cabinet.Events.Edit();
                    }
                    <a href="@(Url.UnfoRouteUrl(info))"
                       class="@htmlEngine.GetActivity(info, settings)">
                        <i class="ion-information-circled"></i>
                        <span>@(Resources.Menu_Common_Info)</span>
                    </a>
                </li>
                <li>
                    @{ var programm = MVC.Cabinet.Programm.Index(); }
                    <a href="@(Url.UnfoRouteUrl(programm))"
                       class="@htmlEngine.GetActivity(programm)">
                        <i class="ion-calendar"></i>
                        <span>@(Resources.Menu_Programm)</span>
                    </a>
                </li>
                @if (User.IsInRole(Role.ModeratorOfCurrentEvent, Role.Admin))
                {
                    <li>
                        @{ var moderators = MVC.Cabinet.Users.Moderators(); }
                        <a href="@(Url.UnfoRouteUrl(moderators))"
                           class="@htmlEngine.GetActivity(moderators)">
                            <i class="ion-ios7-people-outline"></i>
                            <span>@Resources.Users_Filter_Moderators</span>
                        </a>
                    </li>
                }
                <li>
                    @{ var organizators = MVC.Cabinet.Organizators.Index(); }
                    <a href="@(Url.UnfoRouteUrl(organizators))"
                       class="@htmlEngine.GetActivity(organizators)">
                        <i class="fa fa-tags"></i>
                        <span>@(Resources.Menu_Organizators)</span>
                    </a>
                </li>

                <li>

                    @{ var votings = MVC.Cabinet.Voting.Index(); }
                    <a href="@(Url.UnfoRouteUrl(votings))"
                       class="@htmlEngine.GetActivity(votings)">

                        <i class="ion-checkmark-round"></i>
                        <span>@(Resources.Event_Votes_Quizes)</span>
                    </a>
                </li>
            </ul>
        </div>

    }
</div>