﻿<div class="modal fade" id="modalForEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-body">
                <div id="spinner" style="height: 200px;"></div>
            </div>*@
        </div>
    </div>
</div>
