﻿@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using Unfo.Models.ViewModels
@using UnfoIdentitySystem.GlobalStaticClasses
@model Unfo.Models.ViewModels.Dictionaries.PromoOrganizatorsVM
@{

    var SectionsList = ViewBag.SectionsList != null ? (IEnumerable<SelectListItem>)ViewBag.SectionsList : new List<SelectListItem>();
    var Cultures = (IEnumerable<SelectListItem>)ViewBag.Cultures;
    var routeValues = MVC.Cabinet.Settings.Index().GetRouteValueDictionary();
    routeValues.Add("eventName", CurrentEvent.UEvent.TranslitName);
}


@using (Html.BeginForm(MVC.Cabinet.Organizators.Index(), FormMethod.Post, new { @class = "organizators form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.EventID)

    @Html.HiddenFor(model => model.ID)


    <div class="form-group">
        <div class="col-md-12  col-sm-12">
            @Html.EditorFor(model => model.Content)

        </div>
    </div>

    <div class="form-group form-actions">
        <div class=" col-sm-12">
            <input type="submit" class="btn btn-success" value="@Unfo.App_LocalResources.Resources.c_Save" />
        </div>
    </div>
}
