﻿@using DataModel
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.HtmlHelpers
@using Unfo.Models.UnfoBusinessLogic
@model List<Unfo.Models.ViewModels.UserRequestAdminVM>
@{
    UsersRequestsFilterParams filterParams = ViewBag.UsersFilterParams ?? new UsersRequestsFilterParams();
    string title = ViewBag.Title;
  
}
    <div class="menubar user-search">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            @title
        </div>
        <form class="search hidden-xs" action="@Url.UnfoRouteUrl(MVC.Cabinet.UserRequests.Index())">

            @Html.Hidden("AmountOfElementsPerPage", filterParams.AmountOfElementsPerPage)
            @Html.Hidden("CurrentPage", 1)
            @Html.Hidden("RequestState", filterParams.RequestState)
            <i class="fa fa-search"></i>
            <input type="text" name="SearchQuery" placeholder="@Resources.Users_Search_Placeholder" value="@filterParams.SearchQuery">
            <input type="submit">
        </form>

    </div>
