﻿@using System.Web.Optimization
@using DataModel
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.HtmlHelpers
@using Unfo.Models.UnfoBusinessLogic
@using Unfo.Models.ViewModelRepositories
@using Route = Unfo.Core.Route
@model List<Unfo.Models.ViewModels.UserRequestAdminVM>
@{
    UsersRequestsFilterParams filterParams = ViewBag.UsersFilterParams ?? new UsersRequestsFilterParams();

}
<ul class="users-requests">
    @Html.Hidden("filterRequestState", (int)filterParams.RequestState)
    @foreach (var request in Model)
    {
        <li>
            <div class="user-request">
                @Html.Hidden("approveUrl", Url.Action(MVC.Cabinet.UserRequests.Approve(request.ID)))
                @Html.Hidden("abortUrl", Url.Action(MVC.Cabinet.UserRequests.Abort(request.ID)))

                <div class="user-avatar">
                    <a href="@Url.UnfoRouteUrl(Route.UserInfo, MVC.Cabinet.Users.UserInfo(request.Author.Id))"><img class="img-circle" src="/Content/images/avatars/15.jpg" alt=""></a>
                </div>
                <div class="request-info">
                    <div class="header">
                        <h4 class="title"><a href="@Url.UnfoRouteUrl(Route.UserInfo, MVC.Cabinet.Users.UserInfo(request.Author.Id))">@request.Author.Fio</a></h4>
                        @switch (request.RequestState)
                        {
                            case RequestState.Completed:
                                <span id="requestState" class="label label-success">@Resources.UsersRequests_Approved</span>
                                break;
                            case RequestState.Aborted:
                                <span id="requestState" class="label label-danger">@Resources.UsersRequests_Aborted</span>
                                break;
                            case RequestState.InProgress:
                                <span id="requestState" class="label label-info">@Resources.UsersRequests_InProgress</span>
                                break;
                        }
                    </div>
                    <div class="location">@*@request.Author.Location*@Тюмень</div>
                    <div class="body">
                        <p class="desc">
                            <span>@request.LastRequestDescription</span>
                        </p>
                        <p class="dummy">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quaerat, hic quibusdam obcaecati eligendi in eos repellat sint expedita totam at fugiat ab earum inventore nesciunt assumenda dignissimos minus aut laboriosam tempora? Facilis, voluptatem, quos, similique reprehenderit vero accusantium possimus sint reiciendis dolor voluptatibus natus quibusdam odio modi dicta quod!</span>
                        </p>
                    </div>
                    <div class="footer">
                        @*<div class="btn-row">
                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Analytics" data-original-title="" title=""><i class="fa fa-fw fa-bar-chart-o"></i></a>
                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Tasks" data-original-title="" title=""><i class="fa fa-fw fa-tasks"></i></a>
                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Configuration" data-original-title="" title=""><i class="fa fa-fw fa-cog"></i></a>
                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Performance" data-original-title="" title=""><i class="fa fa-fw fa-tachometer"></i></a>
                        <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Users" data-original-title="" title=""><i class="fa fa-fw fa-user"></i></a>
                    </div>*@
                        <div class="create-date">@request.LastRequestCreateDate.ToString("dd MMM, yyyy")</div>
                    </div>
                </div>
                @{
                        var approveBtnVisibilityCss = "";
                        var abortBtnVisibilityCss = "";
                        var actionsContainerCss = "one-child";
                        switch (request.RequestState)
                        {
                            case RequestState.Completed:
                                approveBtnVisibilityCss = "hide";
                                break;
                            case RequestState.Aborted:
                                abortBtnVisibilityCss = "hide";
                                break;
                            case RequestState.InProgress:
                                actionsContainerCss = "";
                                break;
                        }
                }
                <div class="request-actions @actionsContainerCss">
              
                    <div class="btns">
                        <a id="approveBtn" class="btn btn-success @approveBtnVisibilityCss">@Resources.UsersRequests_Approve_Btn</a>
                        <a id="abortBtn" class="btn btn-danger @abortBtnVisibilityCss">@Resources.UsersRequests_Abort_Btn</a>
                    </div>
                </div>
            </div>
            <div class="user-request-history"></div>
        </li>
    }
</ul>

<div class="pagination-containter">
    @Html.Pager(filterParams, nextPageIndex => Url.UnfoRouteUrl(MVC.Cabinet.UserRequests.Index(filterParams.SetCurrentPage(nextPageIndex))))
</div>

@Scripts.Render("~/Bundles/Cabinet/UsersRequests/ts")