﻿@using System.Web.Optimization
@model List<Unfo.Models.ViewModels.UnfoUserVM>
@{
    ViewBag.Title = Resources.Users_Moderators_Title;
    Layout = MVC.Cabinet.Shared.Views._Layout;
    ViewBag.IsModeratorView = true;
    ViewBag.IsVisibleCheckBox = true;
}
@section ExtendedHeaderBlock
{
    @Html.Partial(MVC.Cabinet.Shared.Views.Users._SearchUsersPV)
}
@*@Html.Partial(MVC.Cabinet.Shared.Views.Users._FilterUsersPV)*@
@Html.Partial(MVC.Cabinet.Shared.Views.Users._TableUsersPV)
@Scripts.Render("~/Bundles/Typeahead")

<!-- Add Moderators -->
<div class="modal fade add-moderators-modal" id="addModeratorModal" tabindex="-1" role="dialog" aria-labelledby="addModeratorLable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addModeratorLable">@Resources.Users_Moderators_Adding</h4>
            </div>
            <div class="modal-body">
                <div id="moderators-bloodhound">

                    <input class="typeahead form-control" type="text">
                    <span class="status-search-container"><i class="fa fa-search"></i></span>
                    @*<span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
                        <input class="typeahead form-control tt-hint" type="text" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                        <input class="typeahead form-control tt-input" type="text" placeholder="Email, имя пользователя..." autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                        <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Source Sans Pro', 'Helvetica Neue', Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;">Тесте</pre>
                        <span class="tt-dropdown-menu active" style="position: absolute; top: 100%; left: 0px; z-index: 100; right: auto;">
                            <div class="tt-dataset-moderators">
                                
                                <div class="tt-suggestions">
                                    <div class="tt-suggestion">
                                        
                                        <div class="avatar-container">
                                            <img src="/Content/images/avatars/14.jpg" alt="contact" class="avatar">
                                        </div>
                                        <div class="person-info">
                                            <div class="fio">
                                                <span>Евстигнеев георгий</span>
                                            </div>
                                            <div class="proffesion-info">
                                                <div class="place-of-job"><i class="fa fa-building-o"></i> <span>Smart Code</span></div>
                                                <div class="position-at-job"><span>Главный программист</span></div>
                                           
                                            </div>
                                            <div class="contact-info">
                                                <div class="mail"><i class="fa fa-envelope"></i> niaronir@gmail.com</div>
                                                <div class="phone"><i class="fa fa-mobile"></i> 893247944</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tt-suggestion">

                                        <div class="avatar-container">
                                            <img src="/Content/images/avatars/14.jpg" alt="contact" class="avatar">
                                        </div>
                                        <div class="person-info">
                                            <div class="fio">
                                                <span>Евстигнеев георгий</span>
                                            </div>
                                            <div class="proffesion-info">
                                                <div class="place-of-job"><i class="fa fa-building-o"></i> <span>Smart Code</span></div>
                                                <div class="position-at-job"><span>Главный программист</span></div>

                                            </div>
                                            <div class="contact-info">
                                                <div class="mail"><i class="fa fa-envelope"></i> niaronir@gmail.com</div>
                                                <div class="phone"><i class="fa fa-mobile"></i> 893247944</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tt-suggestion">

                                        <div class="avatar-container">
                                            <img src="/Content/images/avatars/14.jpg" alt="contact" class="avatar">
                                        </div>
                                        <div class="person-info">
                                            <div class="fio">
                                                <span>Евстигнеев георгий</span>
                                            </div>
                                            <div class="proffesion-info">
                                                <div class="place-of-job"><i class="fa fa-building-o"></i> <span>Smart Code</span></div>
                                                <div class="position-at-job"><span>Главный программист</span></div>

                                            </div>
                                            <div class="contact-info">
                                                <div class="mail"><i class="fa fa-envelope"></i> niaronir@gmail.com</div>
                                                <div class="phone"><i class="fa fa-mobile"></i> 893247944</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tt-suggestion">

                                        <div class="avatar-container">
                                            <img src="/Content/images/avatars/14.jpg" alt="contact" class="avatar">
                                        </div>
                                        <div class="person-info">
                                            <div class="fio">
                                                <span>Евстигнеев георгий</span>
                                            </div>
                                            <div class="proffesion-info">
                                                <div class="place-of-job"><i class="fa fa-building-o"></i> <span>Smart Code</span></div>
                                                <div class="position-at-job"><span>Главный программист</span></div>

                                            </div>
                                            <div class="contact-info">
                                                <div class="mail"><i class="fa fa-envelope"></i> niaronir@gmail.com</div>
                                                <div class="phone"><i class="fa fa-mobile"></i> 893247944</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tt-suggestion">

                                        <div class="avatar-container">
                                            <img src="/Content/images/avatars/14.jpg" alt="contact" class="avatar">
                                        </div>
                                        <div class="person-info">
                                            <div class="fio">
                                                <span>Евстигнеев георгий</span>
                                            </div>
                                            <div class="proffesion-info">
                                                <div class="place-of-job"><i class="fa fa-building-o"></i> <span>Smart Code</span></div>
                                                <div class="position-at-job"><span>Главный программист</span></div>

                                            </div>
                                            <div class="contact-info">
                                                <div class="mail"><i class="fa fa-envelope"></i> niaronir@gmail.com</div>
                                                <div class="phone"><i class="fa fa-mobile"></i >893247944</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tt-suggestion">

                                        <div class="avatar-container">
                                            <img src="/Content/images/avatars/14.jpg" alt="contact" class="avatar">
                                        </div>
                                        <div class="person-info">
                                            <div class="fio">
                                                <span>Евстигнеев георгий</span>
                                            </div>
                                            <div class="proffesion-info">
                                                <div class="place-of-job"><i class="fa fa-building-o"></i> <span>Smart Code</span></div>
                                                <div class="position-at-job"><span>Главный программист</span></div>

                                            </div>
                                            <div class="contact-info">
                                                <div class="mail"><i class="fa fa-envelope"></i> niaronir@gmail.com</div>
                                                <div class="phone"><i class="fa fa-mobile"></i> 893247944</div>
                                            </div>
                                        </div>
                                    </div>
</div>
                            </div>
                        </span>
                    </span>*@

                </div>
               <div class="potential-moderators">
                	<hr>
                	<div class="well">
                	    
                	</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.c_Cancel</button>
                <button id="addModeratorBtn" type="button" class="btn btn-primary" disabled="disabled">@Resources.c_Add</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Bundles/Cabinet/Users/Moderators/ts")