﻿@using Unfo.Models.ViewModelRepositories
@using Unfo.Models.ViewModels
@model Unfo.Models.ViewModels.UnfoUserVM
           @{
               ViewBag.Title = Model.ToString();
               ViewBag.BodyClass = "user-info";
               ViewBag.IsShowTopBar = false;
               Layout = MVC.Cabinet.Shared.Views._Layout;
              
           }
<div class="row">
    <div class="col-md-12">
        <div class="row">
            @{
                var userInfoHeadingCss = HasInfo() ? "col-md-6 col-md-offset-3" : "col-md-12 minimum-info";
            }
            <div class="user-info-heading @userInfoHeadingCss">
                <img src="/Content/images/avatars/6.jpg" alt="" class="img-circle">
                <br>
                <h3 class="user-fio">@Model.ToString()</h3>
                <p class="user-position-at-job">@Model.PositionAtJob</p>
            </div>
        </div>
        <div class="row">
            @if (HasInfo())
            {
                <div class="user-info-body col-lg-8 col-lg-offset-2 col-sm-12">
                    <h4 class="first">Обо мне</h4>
                    <span class="about-me">@Model.AboutYourselfInformation</span>
                    <div class="row">
                        <div class="col-md-6">
                            @if (HasContactInfo())
                            {
                                <h4>Контактная информация</h4>
                                <dl class="dl-horizontal">
                                    @if (!string.IsNullOrWhiteSpace(Model.Email))
                                    {
                                        <dt>Электронная почта:</dt>
                                        <dd>@Model.Email</dd>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Model.PhoneNumber))
                                    {
                                        <dt>Телефон:</dt>
                                        <dd>@Model.PhoneNumber</dd>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Model.SkypeId))
                                    {
                                        <dt>Skype:</dt>
                                        <dd>@Model.SkypeId</dd>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Model.WebSite))
                                    {
                                        <dt>Website:</dt>
                                        <dd>@Model.WebSite</dd>
                                    }

                                    @SocialProfilesLinksConstructor()
                                </dl>
                            }
                        </div>
                        <div class="col-md-6">
                            @if (HasPersonalInfo())
                            {
                                <h4>Личная информация</h4>
                                <dl class="dl-horizontal">
                                    @if (!string.IsNullOrWhiteSpace(Model.PlaceOfJob))
                                    {
                                        <dt>Место работы:</dt>
                                        <dd>@Model.PlaceOfJob</dd>
                                    }
                                </dl>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@helper SocialProfilesLinksConstructor()
{
    if (!HasSocialProfiles())
    {
        return;
    }
    <dt>Социальные сети:</dt>
    <dd>
        @if (Model.VkontakteLink != null)
        {
            <div class="social-icon vkontakte">
            	<a href="@Model.VkontakteLink"><i class="fa fa-vk"></i></a>
            </div>
        }
        @if (Model.GoogleLink != null)
        {
            <div class="social-icon googleplus">
                <a href="@Model.GoogleLink"><i class="fa fa-google"></i></a>
            </div>
        }
        @if (Model.FacebookLink != null)
        {
            <div class="social-icon facebook">
                <a href="@Model.FacebookLink"><i class="fa fa-facebook"></i></a>
            </div>
        }
        @if (Model.TwitterLink != null)
        {
            <div class="social-icon twitter">
                <a href="@Model.TwitterLink"><i class="fa fa-twitter"></i></a>
            </div>
        }
    </dd>
}
@functions{

    public bool HasPersonalInfo()
    {
        return !string.IsNullOrWhiteSpace(Model.PlaceOfJob);
    }

    public bool HasSocialProfiles()
    {
        return Model.VkontakteLink != null || Model.FacebookLink != null || Model.GoogleLink != null || Model.TwitterLink != null;
    }

    public bool HasContactInfo()
    {
        return HasSocialProfiles() || !string.IsNullOrWhiteSpace(Model.Email) || !string.IsNullOrWhiteSpace(Model.PhoneNumber) || !string.IsNullOrWhiteSpace(Model.WebSite) || !string.IsNullOrWhiteSpace(Model.SkypeId);
    }

    public bool HasInfo()
    {
        return HasContactInfo() || HasPersonalInfo() || !string.IsNullOrWhiteSpace(Model.AboutYourselfInformation);
    }

}