﻿@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using Unfo.Core.Helpers
@using UnfoIdentitySystem.GlobalStaticClasses
@using Route = Unfo.Core.Route
@model Unfo.Models.ViewModels.ReportVM
@{
    var act = (Model == null || Model.ID == Guid.Empty) ? "Add" : "Edit";
    ViewBag.HasSubReport = false;
    if (Model != null)
    {
        ViewBag.HasSubReport = Model.WithSubReports;
    }
}
@using (Html.BeginRouteForm(Route.Event, new { Area = "Cabinet", eventName = CurrentEvent.UEvent.TranslitName, action = act }))
{
    <div class="form-horizontal">
        @if (act == "Edit")
        {
            @Html.HiddenFor(model => model.ID)
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Hall, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.EditorFor(model => model.Hall)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Section, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.EditorFor(model => model.Section)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Direction, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.EditorFor(model => model.Direction)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateRange, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.EditorFor(model => model.DateRange)

            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.WithSubReports) С поддокладами
                    </label>
                </div>
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Speakers, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="speakersList">
                            @Html.EditorFor(model => model.Speakers, "_SelectSpeakers")


                        </div>

                        <div>
                            <a class="btn btn-success" id="addSpeaker">Добавить докладчика</a>
                        </div>
                    </div>


                </div>


            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.IsPublished) Опубликовано
                    </label>
                </div>
            </div>

        </div>

        <div class="form-group form-actions">
            <div class="col-sm-offset-2 col-sm-10">
               
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </div>

}

@Html.Partial("_ModalForEdit")
