﻿@model Unfo.Models.ViewModels.OrderFilterVM

@if (Model.Directions.Count <= 1)
{
    <div class="row page-controls" id="programmFilter">
        @using (Html.BeginForm())
        {
            <div class="col-md-3">
                <label>По дате:</label>


                @Html.DropDownListFor(d => d.Date, Model.Dates, new { @class = "form-control filter" })
            </div>
            <div class="col-md-3">
                <label>По секции:</label>

                @Html.DropDownListFor(d => d.Section, Model.Sections, new { @class = "form-control filter" })


            </div>
            <div class="col-md-3">
                <label>По залу:</label>

                @Html.DropDownListFor(d => d.Hall, Model.Halls, new { @class = "form-control filter" })


            </div>
            <div class="col-md-3">
                <label>По направлению:</label>
                @Html.DropDownListFor(d => d.Direction, Model.Directions, new { @class = "form-control filter" })
            </div>
        }

    </div>
}
else
{
    <div class="row page-controls" id="programmFilter">
        @using (Html.BeginForm())
        {
            <div class="col-md-4">
                <label>По дате:</label>


                @Html.DropDownListFor(d => d.Date, Model.Dates, new { @class = "form-control filter" })
            </div>
            <div class="col-md-4">
                <label>По секции:</label>

                @Html.DropDownListFor(d => d.Section, Model.Sections, new { @class = "form-control filter" })


            </div>
            <div class="col-md-4">
                <label>По залу:</label>

                @Html.DropDownListFor(d => d.Hall, Model.Halls, new { @class = "form-control filter" })


            </div>
           
        }

    </div>
}
