﻿@using System.Web.Optimization
@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@model Unfo.Models.ViewModels.ReportVM
@{
    ViewBag.Title = "Новый доклад";
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "formReport";
}
<input type="hidden" id="eventName" value="@CurrentEvent.UEvent.TranslitName" />
@Html.Partial("_LanguageTabs")

<div id="reportBlock">
    @Html.Partial("_EditReport", Model)
</div>


@section scripts{

    @Scripts.Render("~/Bundles/Cabinet/Programm/AddReport")
}