﻿@model IEnumerable<ReportBaseVM>
@using System.Web.Optimization
@using Glimpse.Mvc.AlternateType
@using Unfo.Core.Extensions
@using Unfo.Core.GlobalClasses
@using Unfo.Models.ViewModels
@{
    ViewBag.Title = "Программа";
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "programm";
}

@Html.Partial("_LanguageTabs")

@section ExtendedHeaderBlock{
    <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            Программа
        </div>
        <form class="search hidden-xs">
            <i class="fa fa-search"></i>
            <input type="text" name="q" placeholder="Поиск по программе" />
            <input type="submit" />
        </form>
        <a href="@(Url.UnfoRouteUrl(MVC.Cabinet.Programm.Add()))" class="new-report btn btn-success pull-right" id="addReport">
            <span>Добавить</span>
        </a>
    </div>
}

@Html.Partial("_ProgrammFilter", (OrderFilterVM)ViewBag.FilterData)

<div class="row programm-list">
    <div class="col-md-12">
        <div class="row headers">
            <div class="col-sm-6 header hidden-xs">
                <label><a href="#">Название</a></label>
            </div>
            <div class="col-sm-3 header hidden-xs">
                <label><a href="#">Дата прведения</a></label>
            </div>
            <div class="col-sm-3 header hidden-xs">
                <label><a href="#">Управление</a></label>
            </div>

        </div>
        @foreach (var item in Model)
        {
            <div class="row report">


                <div class="col-sm-6">
                    <div class="name">@item.Name</div>
                </div>
                <div class="col-sm-3">
                    <div class="date">
                        @Html.DisplayFor(model => item.DateRange)
                    </div>


                </div>
                <div class="col-sm-3 ">
                    <div class="created-at">
                        <a class="btn btn-default" href="@(Url.UnfoRouteUrl(MVC.Cabinet.Programm.Edit(item.ID)))">Редактировать</a>
                    </div>
                </div>


            </div>
        }

    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Bundles/Cabinet/Event/Programm")
}