﻿@model IEnumerable<Unfo.Models.ViewModels.Dictionaries.SpeakerVM>
@using Unfo.App_LocalResources
@using Unfo.Core.GlobalClasses

@{
    ViewBag.Title = Resources.Events_MyList;
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "speakers";
}
@using System.Web.Optimization
@using UnfoIdentitySystem.GlobalStaticClasses
@section ExtendedHeaderBlock
    {
    <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            @Unfo.App_LocalResources.Resources.t_Speakers
        </div>
        <form class="search hidden-xs">
            <i class="fa fa-search"></i>
            <input type="text" name="q" placeholder=" @Unfo.App_LocalResources.Resources.c_Search" />
            <input type="submit" />
        </form>
        <a class="btn btn-success  pull-right" id="addSpeaker">
            <span>
                @Unfo.App_LocalResources.Resources.c_Add
            </span>
        </a>
    </div>
}
<input type="hidden" id="eventName" value="@CurrentEvent.UEvent.TranslitName" />
@Html.Partial("_LanguageTabs")

<div id="speakersBlock">
    @Html.Partial("_Speakers", Model)
</div>
  



@Html.Partial("_ModalForEdit")
@section scripts{

    @Scripts.Render("~/Bundles/Cabinet/Dics/Speakers")
}
