﻿@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Models.UnfoBusinessLogic.Events
@{
    Layout = MVC.Shared.Views._EmptyLayout;
}

        @Html.ShowAlert()

        @Html.UnfoRouteLink("В кабинет", MVC.Cabinet.Events.All())
        @if (!User.Identity.IsAuthenticated)
        {
            @Html.UnfoRouteLink("Вход", MVC.Account.SignIn())
        }
   
        <br />
        <br />
<br /><br />
<br /><br />
<br /><br />
        @Html.ShowAlert(true)
