﻿<div class="tooltip-external-logins-info">
    <span>Возможно вы заходили через:</span>
    <br />
    {{#each ExternalLogins}}
    <span><strong>{{this}}</strong></span><span class="comma">, </span>
    {{/each}}
</div>