﻿<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-middle">
        <div class="modal-content">
            <form action="/Account/SignInWithLinkToExternalLogin" class="idealforms">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Cвязывание соцсети с {{Email}}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert-wrapper"></div>
                    <label>Пароль от учетной записи</label>
                    <input type="hidden" name="Email" id="Email" value="{{Email}}" />
                    <div class="field-ideal">
                        <input name="Password" id="Password" type="password" class="form-control" data-idealforms-rules="required" />
                        <span class="error"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success">Связать</button>
                </div>
            </form>
        </div>
    </div>
</div>