﻿@using System.Activities.Statements
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @{ Html.RenderPartial(MVC.Shared.Views._Localization); }
    @Styles.Render("~/Bundles/WolfThemeStyles")
    @Scripts.Render("~/Bundles/Modernizr", "~/Bundles/Jquery")
    @Scripts.Render("~/Bundles/CommonScripts", "~/Bundles/ThemeScripts", "~/Bundles/Unfo/Common")
    @Scripts.Render("~/Bundles/Unfo/CommonTemplates")
    @{

        var returnUrl = ViewBag.ReturnUrl ?? Request.UrlReferrer;
    }
</head>
<body id="@(ViewBag.BodyId)" class="@ViewBag.BodyClass">
    @Html.AntiForgeryToken()
    <div id="PopupWrapper"></div>
    @Html.Partial(MVC.Shared.Views._QUnitFurniture)

    <input id="urlReferrer" type="hidden" value="@returnUrl">
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>