﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @{ Html.RenderPartial(MVC.Shared.Views._Localization); }
    @Styles.Render("~/Bundles/WolfThemeStyles")
    @* Закоментировано потому что пока еще нет стилей кастомных для лендинга *@
    @*@Styles.Render("~/Bundles/CommonStyles")*@
    @Scripts.Render("~/Bundles/Modernizr", "~/Bundles/Jquery")
</head>
<body id="@(ViewBag.BodyId)" class="@ViewBag.BodyClass">
    @Html.AntiForgeryToken()
    <div id="PopupWrapper"></div>
    @if (Request.IsLocal)
    {
        <div id="JavaScriptErrorWrapper" class="java-script-error"></div>
    }
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/Bundles/Jquery", "~/Bundles/CommonScripts", "~/Bundles/ThemeScripts", "~/Bundles/Unfo/Common")
    @Scripts.Render("~/Bundles/Unfo/CommonTemplates")
    @RenderSection("scripts", required: false)
</body>
</html>