﻿@using System.Web.Optimization
@{
    var isLocal = Request.IsLocal;
    if (isLocal)
    {
        @Styles.Render("~/Bundles/Qunit/css")
        @Scripts.Render("~/Bundles/Qunit/js")
        <div class="qunit-container animated">
            <div id="qunit"></div>
            <div id="qunit-fixture"></div>
        </div>
        <div class="mini-qunit-button">
            <span>Show Tests</span>
        </div>
        @Scripts.Render("~/Bundles/CustomQunit/js")
    @Scripts.Render("~/Bundles/QunitCommonTests/js")
    }
}