﻿/* line 57, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block; }
/* line 61, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px; }
  /* line 66, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    position: absolute;
    /* please don't change 'position' */
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px; }
  /* line 49, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .ps-container > .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
/* line 75, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px; }
  /* line 80, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    position: absolute;
    /* please don't change 'position' */
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    right: 0;
    /* there must be 'right' for ps-scrollbar-y */
    width: 8px; }
  /* line 49, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .ps-container > .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
/* line 91, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60); }
  /* line 49, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .ps-container:hover > .ps-scrollbar-x-rail.in-scrolling, .ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
/* line 96, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
  /* line 99, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
    background-color: #999; }
/* line 104, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
  /* line 107, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #999; }

/* line 140, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.main-sidebar .ps-container.ps-active-x > .ps-scrollbar-x-rail, .main-sidebar .ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block; }
/* line 144, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.main-sidebar .ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 5px; }
  /* line 149, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .main-sidebar .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    position: absolute;
    /* please don't change 'position' */
    background-color: #ECF6FF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */
    height: 5px; }
  /* line 132, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .main-sidebar .ps-container > .ps-scrollbar-x-rail.in-scrolling {
    background-color: rgba(238, 238, 238, 0);
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
/* line 158, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.main-sidebar .ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 5px; }
  /* line 163, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .main-sidebar .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    position: absolute;
    /* please don't change 'position' */
    background-color: #ECF6FF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    right: 0;
    /* there must be 'right' for ps-scrollbar-y */
    width: 5px; }
  /* line 132, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .main-sidebar .ps-container > .ps-scrollbar-y-rail.in-scrolling {
    background-color: rgba(238, 238, 238, 0);
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
/* line 174, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.main-sidebar .ps-container:hover > .ps-scrollbar-x-rail, .main-sidebar .ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60); }
  /* line 132, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .main-sidebar .ps-container:hover > .ps-scrollbar-x-rail.in-scrolling, .main-sidebar .ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
    background-color: rgba(238, 238, 238, 0);
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
/* line 179, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.main-sidebar .ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: rgba(238, 238, 238, 0);
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
  /* line 182, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .main-sidebar .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
    background-color: #bbdfff; }
/* line 187, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
.main-sidebar .ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: rgba(238, 238, 238, 0);
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
  /* line 190, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/perfect-scrollbar/perfect-scrollbar.scss */
  .main-sidebar .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #bbdfff; }

/*# sourceMappingURL=perfect-scrollbar.css.map */