﻿@model Unfo.Models.ViewModels.EventVM
@using System.Web.Optimization
@using Unfo.App_LocalResources;
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@using Route = Unfo.Core.Route

@{
    ViewBag.Title = Resources.Event_Title_Edit;
    Layout = MVC.Cabinet.Shared.Views._Layout;
    ViewBag.BodyId = "event_edit";
}
@if (Model != null)
{
    @section ExtendedHeaderBlock
    {
        <div class="top-menu-approve pull-right">
            <a href="@(Url.UnfoRouteUrl(MVC.Cabinet.Settings.Index()))" class="btn btn-info"><i class="fa fa-edit"></i> Настройки</a>

            @using (Html.BeginRouteForm(Route.Event, new { action = "SendToApprove", controller = "Info" }, FormMethod.Post, new { @class = "publish-form" }))
            {
                @Html.AntiForgeryToken()

                @Html.Hidden("Id", Model.ID)
                <input type="submit" value="Опубликовать" class="btn btn-success" />

            }
        </div>

    }

}
@Html.Partial("_LanguageTabs")
<input type="hidden" id="eventName" value="@CurrentEvent.UEvent.TranslitName" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TariffId)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventPlaceId, new { @class = "control-label col-md-2" })
            <div class="col-md-10 no-margin">
                <div class="col-md-4 ">
                    @Html.DropDownListFor(model => model.EventPlaceId, (IEnumerable<SelectListItem>)ViewBag.Places, "Выберите место проведения", new { @class = "form-control select-location" })
                    @Html.ValidationMessageFor(model => model.EventPlaceId)
                </div>
                <div class="col-md-3">
                    <a class="btn btn-success" id="addLocation">
                        <i class="ion-plus"></i>
                    </a>
                </div>

            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Directions, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 no-margin form-control-static direction-block">
                @Html.EditorFor(model => model.Directions)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control description" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HashTag, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.HashTag, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HashTag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatePeriod, new { @class = "control-label col-md-2" })
            <div class="col-sm-10 col-md-5">
                @Html.EditorFor(model => model.DatePeriod)
                @Html.ValidationMessageFor(model => model.DatePeriod)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-5">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.IsPrivate) @Html.DisplayNameFor(model => model.IsPrivate).ToString()
                    </label>
                    <div class="promocode @(Model.IsPrivate?"":"hide")">
                        @Html.TextBoxFor(model => model.PromoCode, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.PromoCode).ToString() })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Unfo.App_LocalResources.Resources.c_Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@Html.Partial("_ModalForEdit")

@section scripts{
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    @Scripts.Render("~/Bundles/Cabinet/Event/Edit")
}
