﻿/* config variables */
@import "../Cabinet/cabinet-config";

#signup {
    .content {
        .info {
            margin-top: 0;

            .alert:last-child {
                margin-bottom: 50px;
            }
        }

        input {
            margin-bottom: 0 !important;
        }

        .field-ideal {
            margin-bottom: 15px;
        }
        #Email{
            padding-right: 32px;
        }
        .submit-container {
            position: relative;
            height: 45px;
            text-align: center;
        }

        .interactive-icon{
            opacity: 0;
            display:none;
            position: absolute;
            right: 0px;
            font-size: 20px;
            top: 10px;
            z-index: 999;
          
           &.fa-link{
                 cursor: pointer;
           }
           &.fa-info-circle{
               cursor: default;
               color: #21A2E2;
           }
        }

        
        
    }
     
    .tooltip-external-logins-info{
        .comma:last-child{
            display:none;
        }
    }
    
    .modal {
        .modal-dialog {
            margin-top: 300px;
        }

        .modal-footer {
            height: 65px;
            position: relative;
        }
    }
}
