﻿#signin .content .field-ideal {
  margin-bottom: 15px; }
#signin .content .info {
  margin-top: 30px; }
#signin .content .actions {
  height: 45px; }
#signin .content .fields input[type="text"], #signin .content .fields input[type="password"] {
  margin-bottom: 0; }
#signin .bottom-wrapper .message {
  max-width: 380px; }

/*# sourceMappingURL=signin.css.map */