﻿#signin{
    .content{
        .field-ideal{
            margin-bottom: 15px;
        }
        .info{
            margin-top: 30px;
        }
        .actions{
            height: 45px;
        }
        .fields{
            input[type="text"],
            input[type="password"]{
                margin-bottom: 0;
            }
        }
    }
    .bottom-wrapper{
        .message{
            max-width: 380px;
        }
    }
    
}
