/* config variables */
@import "../cabinet-config.scss";

/*#region SASS Script анимаций */

@mixin boxShadowAnimationCreator($beginAnimationParams, $endAnimationParams, $boxShadowColor) {
    from {
        box-shadow: $beginAnimationParams $boxShadowColor;
    }

    to {
        box-shadow: $endAnimationParams $boxShadowColor;
    }
}

@include keyFrame(glowVkReverse) {
    @include boxShadowAnimationCreator($loginsBoxShadowEndAnimationParams, $loginsBoxShadowInitialParams, $vkontakteColor)
}

@include keyFrame(glowVk) {
    @include boxShadowAnimationCreator($loginsBoxShadowInitialParams, $loginsBoxShadowEndAnimationParams, $vkontakteColor)
}

@include keyFrame(glowGoogleReverse) {
    @include boxShadowAnimationCreator($loginsBoxShadowEndAnimationParams, $loginsBoxShadowInitialParams, $googleColor)
}

@include keyFrame(glowGoogle) {
    @include boxShadowAnimationCreator($loginsBoxShadowInitialParams, $loginsBoxShadowEndAnimationParams, $googleColor)
}

@include keyFrame(glowFacebookReverse) {
    @include boxShadowAnimationCreator($loginsBoxShadowEndAnimationParams, $loginsBoxShadowInitialParams, $facebookColor)
}

@include keyFrame(glowFacebook) {
    @include boxShadowAnimationCreator($loginsBoxShadowInitialParams, $loginsBoxShadowEndAnimationParams, $facebookColor)
}

@include keyFrame(glowTwitterReverse) {
    @include boxShadowAnimationCreator($loginsBoxShadowEndAnimationParams, $loginsBoxShadowInitialParams, $twitterColor)
}

@include keyFrame(glowTwitter) {
    @include boxShadowAnimationCreator($loginsBoxShadowInitialParams, $loginsBoxShadowEndAnimationParams, $twitterColor)
}

/*#endregion */

.manage-external-logins {
    .tooltip-inner {
        max-width: 400px;
        width: 150px;
    }

    .external-logins-container {
        border-top: none;
        padding-top: 0;
        margin-top: 33px;

        .socials-container {
            text-align: center;
        }

        .socials-list {
            .social-icon-wrapper {
                margin-right: 32.1px;
                @include transition(all 0.30s cubic-bezier(0.34, 1.41, 0.7, 1));

                .social-icon {
                    @include transition(all 0.30s cubic-bezier(0.34, 1.41, 0.7, 1));
                    background: #D6D6D6;
                    position: relative;

                    .unlink-btn {
                        /*@include transition(opacity 0.20s linear);*/
                        opacity: 0;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        right: 2px;
                        display: none;
                        top: 0;

                        i {
                            font-size: initial;
                            line-height: initial;
                        }

                        &.active {
                            /*display: initial;*/
                            cursor: pointer;
                        }
                    }
                }

                &.active {
                    .social-icon {
                        cursor: default;
                    }
                }

                &:hover {
                    &.active {
                        .social-icon {
                            /*.unlink-btn {
                                opacity: 0.5;

                                &:hover {
                                    opacity: 1;
                                }
                            }*/
                        }
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                &.vkontakte {
                    &.active {
                        .social-icon {
                            box-shadow: $loginsBoxShadowInitialParams $vkontakteColor !important;

                            &:hover {
                                @include animation(glowVk $loginsAnimationSettings);
                            }
                        }
                    }

                    .social-icon:hover {
                        box-shadow: $loginsBoxShadowEndAnimationParams $vkontakteColor;
                        @include animation(glowVkReverse $loginsAnimationSettings);
                    }
                }

                &.googleplus {
                    &.active {
                        .social-icon {
                            box-shadow: $loginsBoxShadowInitialParams $googleColor !important;

                            &:hover {
                                @include animation(glowGoogle $loginsAnimationSettings);
                            }
                        }
                    }

                    .social-icon:hover {
                        box-shadow: $loginsBoxShadowEndAnimationParams $googleColor;
                        @include animation(glowGoogleReverse $loginsAnimationSettings);
                    }
                }

                &.twitter {
                    &.active {
                        .social-icon {
                            box-shadow: $loginsBoxShadowInitialParams $twitterColor !important;

                            &:hover {
                                @include animation(glowTwitter $loginsAnimationSettings);
                            }
                        }
                    }

                    .social-icon:hover {
                        box-shadow: $loginsBoxShadowEndAnimationParams $twitterColor;
                        @include animation(glowTwitterReverse $loginsAnimationSettings);
                    }
                }

                &.facebook {
                    &.active {
                        .social-icon {
                            box-shadow: $loginsBoxShadowInitialParams $facebookColor !important;

                            &:hover {
                                @include animation(glowFacebook $loginsAnimationSettings);
                            }
                        }
                    }

                    .social-icon:hover {
                        box-shadow: $loginsBoxShadowEndAnimationParams $facebookColor;
                        @include animation(glowFacebookReverse $loginsAnimationSettings);
                    }
                }
            }
        }
    }
}