﻿/* roboto font */
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);*/
/* source sans pro */
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);*/
/* lato */
/*@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);*/
/* merriweather */
/*@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);*/
/*$sidebarBg: #35485e;*/
/* line 10, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
#account #content #sidebar .menu li a i.fa-exchange {
  font-size: 17px; }
/* line 13, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
#account #content #sidebar .menu li a i.fa-lock {
  padding-left: 2px; }
/* line 16, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
#account #content #sidebar .menu li a i.fa-user {
  padding-left: 1px; }
/* line 26, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
#account #content #panel .profile h3 {
  margin: 0;
  font-size: 18px; }
/* line 31, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
#account #content #panel .profile .intro {
  color: #555;
  text-align: justify; }
/* line 36, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
#account #content #panel .profile form {
  width: 65%;
  margin-top: 35px; }
  /* line 40, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile form .user-status label {
    display: inline-block; }
  /* line 43, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile form .user-status .label {
    font-size: 100%;
    display: inline-block; }
  /* line 49, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile form .intro {
    margin-top: -10px;
    margin-bottom: 20px; }
  /* line 54, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile form .form-group {
    margin-bottom: 25px; }
    /* line 56, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
    #account #content #panel .profile form .form-group textarea {
      min-height: 92px; }
    /* line 60, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
    #account #content #panel .profile form .form-group .web-site .input-group-addon {
      padding: 6px 12.5px; }
    /* line 63, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
    #account #content #panel .profile form .form-group .skype .input-group-addon {
      padding: 6px 13px; }
  /* line 69, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile form .avatar-field {
    position: relative;
    left: -15px;
    margin-bottom: 35px; }
    /* line 74, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
    #account #content #panel .profile form .avatar-field label {
      margin-top: 22px;
      color: #4F587A;
      font-weight: 500;
      margin-bottom: 10px; }
  /* line 82, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile form .action {
    margin-top: 40px;
    height: 45px;
    text-align: center;
    position: relative; }
@media (max-width: 991px) {
  /* line 91, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile form {
    width: 100%; }
 }
/* line 96, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
#account #content #panel .profile .contact-information, #account #content #panel .profile .social-links {
  padding-top: 25px;
  position: relative; }
  /* line 100, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile .contact-information:before, #account #content #panel .profile .social-links:before {
    background: #e6e6e6;
    width: 50%;
    height: 2px;
    position: absolute;
    top: 0;
    content: ''; }
  /* line 109, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
  #account #content #panel .profile .contact-information h3, #account #content #panel .profile .social-links h3 {
    margin-bottom: 25px; }
/* line 114, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/profile.scss */
#account #content #panel .profile textarea {
  max-width: 100%; }

/*# sourceMappingURL=profile.css.map */