﻿@import "../../../css/partials/config";
#account {
    #content {

        #sidebar{
            .menu{
                li{
                    a{
                        i{
                            &.fa-exchange{
font-size: 17px;
                            }
                             &.fa-lock{
padding-left: 2px;
                            }
                             &.fa-user{
padding-left: 1px;
                            }
                        }
                    }
                }
            }
        }
        #panel {
            .profile {
                h3 {
                    margin: 0;
                    font-size: 18px;
                }

                .intro {
                    color: #555;
                    text-align: justify;
                }

                form {
                    width: 65%;
                    margin-top: 35px;
                    .user-status{
                        label{
                            display:inline-block;
                        }
                     .label{
                            font-size:100%;
                        display:inline-block;                    

                     }
                    }
                    .intro {
                        margin-top: -10px;
                        margin-bottom: 20px;
                    }

                    .form-group {
                        margin-bottom: 25px;
                        textarea{
                            min-height:92px;
                        }
                     
                        .web-site .input-group-addon{
                            padding:6px 12.5px;
                        }
                        .skype .input-group-addon{
                            padding:6px 13px;
                        }
                        }
                    

                    .avatar-field {
                        position: relative;
                        left: -15px;
                        margin-bottom: 35px;

                        label {
                            margin-top: 22px;
                            color: #4F587A;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }
                    } 

                    .action {
                        margin-top: 40px;
                        height: 45px;
                        text-align: center;
                        position: relative;
                    }
                }

                @media (max-width: $maxMedium) {
                    form {
                        width: 100%;
                    }
                }
                .contact-information,
                .social-links {
                    padding-top: 25px;
                    position: relative;

                    &:before {
                        background: #e6e6e6;
                        width: 50%;
                        height: 2px;
                        position: absolute;
                        top: 0;
                        content: '';
                    }

                    h3 {
                        margin-bottom: 25px;
                    }
                }

                textarea {
                    max-width: 100%;
                }
            }
        }
    }
}