﻿@import "../../../css/partials/config";

.user-requests {
    .request-for-organizer {
        margin-top: 35px;
        width: 65%;
        @media (max-width: $maxMedium) {
                 
                        width: 100%;
                 
                }
        
        .request-state {
            margin-bottom: 15px;
            display:none;
            &.active{
                display:inline-block;
            }
            .label{
                font-size:100%;
                margin-left: 4px;
                display:none;
                &.active{
                     display:inline-block;
                }
            }
        }
        .btn-show-response-description{
            margin-left: 5px;
              display:none;
               &.active{
                display:inline-block;
            } 
            abbr{
                cursor:pointer;
            }
        }
        .response-description-container{
            display:none;
            margin-bottom: 15px;
            &.active{
                display:block;
            }
        }
        .request {
            .btn-show-request{
                width: 300px;

                @media(max-width: $maxSmall) {
                    width:100%;
                }
            }
            .request-description-container{
                display:none;
                textarea{
                    min-height: 95px;
                }
            }
            .btn-wrapper{
                display:none;
                margin-top: 15px;
                position:relative;
                height:34px;
                .btn{
                    float:right;
                }

            }
        }
    }
}