﻿@import "../../../css/partials/config";
.user-privacy-politics {
    .types{
        margin-top:35px;
         p{
             margin-bottom:30px;
         }
         section {
       
        margin-bottom:30px;
     
        .row  {
margin-bottom: 10px;
>div{
    &:first-child{
        margin-top: 5px;
    }
}
}
        .bootstrap-switch {
            float: right;
            font-family: $helvetica;

            @media(max-width: $maxSmall){
                float: left;
margin-top: 5px;
            }
        }
      
    }
    }
  
}