﻿/* roboto font */
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);*/
/* source sans pro */
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);*/
/* lato */
/*@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);*/
/* merriweather */
/*@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);*/
/*$sidebarBg: #35485e;*/
/* line 4, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
.user-requests .request-for-organizer {
  margin-top: 35px;
  width: 65%; }
  @media (max-width: 991px) {
    .user-requests .request-for-organizer {
      width: 100%; } }
  /* line 13, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
  .user-requests .request-for-organizer .request-state {
    margin-bottom: 15px;
    display: none; }
    /* line 16, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
    .user-requests .request-for-organizer .request-state.active {
      display: inline-block; }
    /* line 19, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
    .user-requests .request-for-organizer .request-state .label {
      font-size: 100%;
      margin-left: 4px;
      display: none; }
      /* line 23, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
      .user-requests .request-for-organizer .request-state .label.active {
        display: inline-block; }
  /* line 28, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
  .user-requests .request-for-organizer .btn-show-response-description {
    margin-left: 5px;
    display: none; }
    /* line 31, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
    .user-requests .request-for-organizer .btn-show-response-description.active {
      display: inline-block; }
    /* line 34, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
    .user-requests .request-for-organizer .btn-show-response-description abbr {
      cursor: pointer; }
  /* line 38, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
  .user-requests .request-for-organizer .response-description-container {
    display: none;
    margin-bottom: 15px; }
    /* line 41, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
    .user-requests .request-for-organizer .response-description-container.active {
      display: block; }
  /* line 46, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
  .user-requests .request-for-organizer .request .btn-show-request {
    width: 300px; }
    @media (max-width: 767px) {
      .user-requests .request-for-organizer .request .btn-show-request {
        width: 100%; } }
  /* line 53, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
  .user-requests .request-for-organizer .request .request-description-container {
    display: none; }
    /* line 55, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
    .user-requests .request-for-organizer .request .request-description-container textarea {
      min-height: 95px; }
  /* line 59, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
  .user-requests .request-for-organizer .request .btn-wrapper {
    display: none;
    margin-top: 15px;
    position: relative;
    height: 34px; }
    /* line 64, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-request.scss */
    .user-requests .request-for-organizer .request .btn-wrapper .btn {
      float: right; }

/*# sourceMappingURL=user-request.css.map */