﻿/* roboto font */
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);*/
/* source sans pro */
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);*/
/* lato */
/*@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);*/
/* merriweather */
/*@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);*/
/*$sidebarBg: #35485e;*/
/* line 3, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-privacy-politics.scss */
.user-privacy-politics .types {
  margin-top: 35px; }
  /* line 5, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-privacy-politics.scss */
  .user-privacy-politics .types p {
    margin-bottom: 30px; }
  /* line 8, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-privacy-politics.scss */
  .user-privacy-politics .types section {
    margin-bottom: 30px; }
    /* line 12, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-privacy-politics.scss */
    .user-privacy-politics .types section .row {
      margin-bottom: 10px; }
      /* line 15, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-privacy-politics.scss */
      .user-privacy-politics .types section .row > div:first-child {
        margin-top: 5px; }
    /* line 20, C:/Users/Niaro/Documents/Work/unfoproject/Unfo/Content/Unfo/Cabinet/MyAccount/user-privacy-politics.scss */
    .user-privacy-politics .types section .bootstrap-switch {
      float: right;
      font-family: "Helvetica Neue", Arial; }
      @media (max-width: 767px) {
        .user-privacy-politics .types section .bootstrap-switch {
          float: left;
          margin-top: 5px; } }

/*# sourceMappingURL=user-privacy-politics.css.map */