/* roboto font */
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);*/
/* source sans pro */
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);*/
/* lato */
/*@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);*/
/* merriweather */
/*@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);*/

$roboto: "Roboto";
$arial: "Arial";
$lato: 'Lato', 'Helvetica Neue', Arial;
$helvetica: "Helvetica Neue", Helvetica, Arial;
$myriad: Myriad Pro, Lato, Helvetica Neue, Arial;
$sourceSans: tahoma, arial, verdana, sans-serif, Lucida Sans;
$merriweather: "Merriweather", Georgia;
$helvetica: "Helvetica Neue", Arial;


$sidebarBg: #2F343D;
/*$sidebarBg: #35485e;*/

$imagesPath: '/Content/images';

$maxMedium: 991px;
$minMedium: 768px;
$maxSmall: 767px;