﻿@import "../Unfo/Cabinet/cabinet-config.scss";
@import "../css/partials/config";

@import "../../../css/partials/config";

#events {
    .page-title {
        display: none;
    }

    .event-search {
        .page-title {
            text-align: center;
            display: inline;
            padding-left: 0 !important;
        }
    }

    &.all-events {
        .page-title {
            width: 242px !important;
        }

        .search {
            margin-left: 251px !important;
        }
    }

    &.moderate-events {
        .page-title {
            width: 315px !important;
        }

        .search {
            margin-left: 318px !important;
        }
    }

    &.active-events {
        .page-title {
            width: 262px !important;
        }

        .search {
            margin-left: 265px !important;
        }
    }

    &.favorite-events {
        .search {
            margin-left: 276px !important;
        }
    }

    .events {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 30px;

        li:last-child {
        }

        li {
            color: #333;
            margin-bottom: 15px;

            &:after,
            &:before {
                content: '';
                display: table;
                clear: both;
            }

            .event {
                border: 1px solid #E6E6E6;
                border-radius: 3px;
                background: #fff;
                overflow: hidden;

                > div {
                    display: table-cell;
                    vertical-align: top;
                    padding: 20px;
                    position: relative;
                }

                .event-avatar {
                    padding: 0;
                    overflow: hidden;
                    text-align: center;
                    vertical-align: middle;
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;

                    img {
                        width: 240px;
                        max-height: 180px;
                    }
                }

                .event-info {
                    a, a:hover, p {
                        color: inherit;
                    }

                    .header {
                        margin: 0 0 8px;
                        line-height: 24px;

                        .title {
                            display: inline;
                            font-size: 20px;
                            display: block;
                            margin: 0;
                        }

                        .date-period {
                            display: inline;
                            color: #999;
                            float: right;
                            line-height: 35px;
                        }
                    }

                    .location {
                        color: #999;
                        margin-bottom: 10px;
                    }

                    .body {
                        margin-bottom: 12px;
                        min-height: 42px;

                        .desc {
                            margin-bottom: 0;
                            max-height: 32px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 16px;
                            color: #707478;
                        }

                        .dummy {
                            overflow: hidden;
                            opacity: 0;
                            position: relative;
                            max-height: 10px;
                        }
                    }

                    .readmore-js-toggle {
                        display: inline;
                        float: right;
                        color: #707478;
                        border-bottom: 1px dotted;
                        width: auto;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                            border-bottom: 0px dotted;
                        }
                    }

                    .footer {
                        .btn-row {
                            display: inline;

                            a {
                                color: #666;
                                font-size: 20px;
                                line-height: 14px;
                                opacity: .2;
                                 @include transition(all 0.30s cubic-bezier(0.34, 1.41, 0.7, 1));
                                &:hover {
                                    opacity: 1;
                                }

                                &:last-child {
                                    float: right;
                                }
                            }

                            a.active {
                                opacity: 1;
                            }
                        }
                    }
                }

                @media(max-width: 900px) {
                    .event-avatar {
                        display: none;
                    }
                }
            }
        }
    }
}