﻿#questions_list {
    ul {
        padding: 0;

        li {
            list-style-type: none;
        }
    }
}

.opros-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-actions {
    padding-top: 10px;
}

#votings {
    #content {
        .menubar {
            .page-title {
                position: absolute;
                top: 0;
                bottom: 0;
                padding: 20px 30px;
                font-size: 16px;
                color: #7e7e7e;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.3px;
                border-right: 1px solid #E6E6E6;
                padding-left: 25px;
            }
        }
    }
    }