﻿@using DataModel
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.Helpers
@using Unfo.Models.UnfoBusinessLogic
@using Unfo.Models.UnfoBusinessLogic.Events
@using Unfo.Models.ViewModelRepositories
@model List<Unfo.Models.ViewModels.EventVM>
@{
    EventsFilterParams filterParams = ViewBag.EventsFilterParams ?? new EventsFilterParams();
   
}

<div class="page-controls">
    <div class="filters">

        @*<a href="@Url.UnfoRouteUrl(MVC.Cabinet.UserRequests.Index(filterParams.SetRequestState(FilterRequestState.None)))" class="@activityEngine.GetActivity(FilterRequestState.None)">@Resources.UsersRequests_Filter_All</a>
        @if (User.IsInRole(Role.Admin))
        {
            <a href="@Url.UnfoRouteUrl(MVC.Cabinet.UserRequests.Index(filterParams.SetRequestState(FilterRequestState.InProgress)))" class="@activityEngine.GetActivity(FilterRequestState.InProgress)">@Resources.UsersRequests_Filter_InProgress</a>
        }
        @if (User.IsInRole(Role.Admin, Role.Organizer))
        {
            <a href="@Url.UnfoRouteUrl(MVC.Cabinet.UserRequests.Index(filterParams.SetRequestState(FilterRequestState.Completed)))" class="@activityEngine.GetActivity(FilterRequestState.Completed)">@Resources.UsersRequests_Filter_Approved</a>
        }
        @if (User.IsInRole(Role.Admin, Role.Organizer))
        {
            <a href="@Url.UnfoRouteUrl(MVC.Cabinet.UserRequests.Index(filterParams.SetRequestState(FilterRequestState.Aborted)))" class="@activityEngine.GetActivity(FilterRequestState.Aborted)">@Resources.UsersRequests_Filter_Aborted</a>
        }*@
    </div>
    <div class="result-count">
        <span>
            @if (filterParams.ResultCount > 0)
            {
                @Html.Declination(filterParams.ResultCount, Resources.Events_Filter_FoundEventsNominativeSingular,
                          Resources.Events_Filter_FoundEventsNominativePlural,
                            Resources.Events_Filter_FoundEventsGenitivePlural)
            }
            else
            {
                <span>@Resources.c_NoResults</span>
            }
        </span>
    </div>
</div>