﻿@using DataModel
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.HtmlHelpers
@using Unfo.Models.UnfoBusinessLogic
@using Unfo.Models.UnfoBusinessLogic.Events
@model List<Unfo.Models.ViewModels.EventVM>
@{
    EventsFilterParams filterParams = ViewBag.EventsFilterParams ?? new EventsFilterParams();
    string title = ViewBag.Title;
  
}
    <div class="menubar event-search">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            @title
        </div>
        <form class="search hidden-xs" action="@Url.UnfoRouteUrl(filterParams.GetAction())">

            @Html.Hidden("AmountOfElementsPerPage", filterParams.AmountOfElementsPerPage)
            @Html.Hidden("CurrentPage", 1)
            @Html.Hidden("Role", filterParams.Role)
            @Html.Hidden("Query", filterParams.Query)
            @Html.Hidden("Time", filterParams.Time)
            <i class="fa fa-search"></i>
            <input type="text" name="SearchQuery" placeholder="Название события" value="@filterParams.SearchQuery">
            <input type="submit">
        </form>

    </div>
