﻿@using System.Threading.Tasks
@using System.Web.Optimization
@using DataModel
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.HtmlHelpers
@using Unfo.Models.UnfoBusinessLogic
@using Unfo.Models.UnfoBusinessLogic.Events
@using Unfo.Models.ViewModelRepositories
@using Route = Unfo.Core.Route
@model List<Unfo.Models.ViewModels.EventVM>
@{
    EventsFilterParams filterParams = ViewBag.EventsFilterParams ?? new EventsFilterParams();
    
}
@Html.Hidden("urlToFavoriteAction", Url.UnfoRouteUrl(MVC.Cabinet.Events.ToFavorite()))
@Html.Hidden("urlToUnFavoriteAction", Url.UnfoRouteUrl(MVC.Cabinet.Events.UnFavorite()))
<ul class="events">
    @foreach (var uEvent in Model)
    {
        <li>
            <div class="event" data-is-favorite-event="@uEvent.IsFavoriteForCurrentUser">
                @Html.Hidden("eventId", uEvent.ID)
                <div class="event-avatar">
                    <a href="@Url.UnfoEventUrl(Route.InfoEvent, MVC.Cabinet.Info.Index(), uEvent)"><img src="/Content/images/avatars/16.jpg" alt=""></a>
                </div>
                <div class="event-info">
                    <div class="header">
                        <h4 class="title"><a href="@Url.UnfoEventUrl(Route.InfoEvent, MVC.Cabinet.Info.Index(), uEvent)">@uEvent.Name</a></h4>
                        <div class="date-period">@uEvent.DatePeriod.StartDate.Date.ToString("dd MMM, yyyy") - @uEvent.DatePeriod.EndDate.Date.ToString("dd MMM, yyyy")</div>

                    </div>
                    <div class="location">Тюмень</div>
                    <div class="body">
                        <p class="desc">
                            <span>@uEvent.Description</span>
                        </p>
                        <p class="dummy">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quaerat, hic quibusdam obcaecati eligendi in eos repellat sint expedita totam at fugiat ab earum inventore nesciunt assumenda dignissimos minus aut laboriosam tempora? Facilis, voluptatem, quos, similique reprehenderit vero accusantium possimus sint reiciendis dolor voluptatibus natus quibusdam odio modi dicta quod!</span>
                        </p>
                    </div>
                    <div class="footer">
                        <div class="btn-row">
                            <a href="@Url.UnfoEventUrl(Route.InfoEvent, MVC.Cabinet.Info.Index(), uEvent)" data-toggle="tooltip" data-container="body" data-title="@Resources.Menu_Common_Info" data-original-title="" title=""> <i class="fa fa-fw fa-info-circle"></i></a>
                            <a href="@Url.UnfoEventUrl(MVC.Cabinet.Programm.Index(), uEvent)" data-toggle="tooltip" data-container="body" data-title="@Resources.Menu_Programm" data-original-title="" title=""><i class="fa fa-fw fa-tasks"></i></a>
                            @if (User.IsInRole(Role.Admin) || uEvent.Moderators.Contains(User.Id))
                            {
                                <a href="@Url.UnfoEventUrl(Route.EditEvent, MVC.Cabinet.Events.Edit(), uEvent)" data-toggle="tooltip" data-container="body" data-title="@Resources.Event_Editing" data-original-title="" title=""><i class="fa fa-fw fa-cog"></i></a>
                                <a href="@Url.UnfoEventUrl(MVC.Cabinet.Users.Moderators(), uEvent)" data-toggle="tooltip" data-container="body" data-title="@Resources.Users_Filter_Moderators" data-original-title="" title=""><i class="fa fa-fw fa-user"></i></a>
                            }
                            <a href="@Url.UnfoEventUrl(MVC.Cabinet.Users.Users(), uEvent)" data-toggle="tooltip" data-container="body" data-title="@Resources.Event_Participants" data-original-title="" title=""><i class="fa fa-fw fa-user"></i></a>
                            <a href="@Url.UnfoEventUrl(MVC.Cabinet.Voting.Index(), uEvent)" data-toggle="tooltip" data-container="body" data-title="@Resources.Event_Votes_Quizes" data-original-title="" title=""><i class="fa fa-fw fa-question-circle"></i></a>

                            @{
                                var activeFavoriteBtnCss = "";
                                var favoriteBtnTitle = Resources.Event_ToFavorite;
                                if (uEvent.IsFavoriteForCurrentUser)
                                {
                                    activeFavoriteBtnCss = "active";
                                    favoriteBtnTitle = "Убрать из избранного";
                                }
                            }

                            <a id="favoriteBtn" class="@activeFavoriteBtnCss" href="javascript:;" data-toggle="tooltip" data-container="body" data-title="@favoriteBtnTitle" data-original-title="" title=""><i class="fa fa-fw fa-star"></i></a>
                        </div>

                    </div>
                </div>

               
            </div>
        </li>
    }
</ul>

<div class="pagination-containter">
    @{

    }
    @Html.Pager(filterParams, nextPageIndex =>
    {
        var newFilterParams = filterParams.SetCurrentPage(nextPageIndex);
        return Url.UnfoRouteUrl(newFilterParams.GetAction());
    })
</div>

@Scripts.Render("~/Bundles/Cabinet/Events/ts")