﻿@import "../Unfo/Cabinet/cabinet-config.scss";
@import "../css/partials/config";

.page-alerts {
    padding-left: 230px;
position: fixed;
z-index: 22222;
width: 100%;
    @media (max-width: $maxMedium) {
        padding-left: 80px;
    }
    @media (max-width: $maxSmall) {
        padding-left: 0px;
    }
    .page-alert {
    border-radius: 0;
    margin-bottom: 0;
    display:none;
    &.active {
        display: block;
    }
}

}

.alert-wrapper {

    .alert{
         opacity: 0;
    transform: scale(0);
    transition: all 0.4s cubic-bezier(0.34, 1.41, 0.7, 1);
    transform-origin: center center;
        border-radius:0;
        &.active {
        opacity: 1;
        transform: scale(1);
    }
        &:only-child{
            margin-bottom: 20px!important;
border-radius: 4px!important;
border: 1px solid transparent!important;
        }
        &:first-child{
             margin-bottom: 0;
border-radius: 4px;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border-bottom-width: 0;
        }
        &:last-child{
            border-radius: 4px;
            border-top-left-radius:0;
            border-top-right-radius:0;
            margin-bottom: 20px;
            border-top-width: 0;
        }
    }
}
