﻿@import "../Unfo/Cabinet/cabinet-config.scss";
@import "../css/partials/config";

.pagination-containter{
position: relative;
bottom: 0;
text-align: center;

}
.spinner {
    display: none;
}
.spinner-container{
    display: inline-block;
    position: relative;
    text-align: center
}

.upper-gray-title {
            text-transform: uppercase;
            color: #999;
            font-weight: normal;
            display: block;
            margin-bottom: 15px;
            font-size: 15px;
        }
@media (min-width: 400px) {
  .modal-middle{
    width: 450px;
}
}

/*#region external-logins-commons css */

.external-logins-container {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid #59688d;

    .socials-container {
        margin-top: 15px;
        text-align: center;
    }

    .socials-list {
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;

        .social-icon-wrapper {
            position: relative;
            float: left;
            width: 71px;
            height: 71px;
            margin-right: 35px;
            list-style: none;

            .social-icon {
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                background: #59688d;
                color: white;
                border-radius: 15px;
                cursor: pointer;
                /*@include transition(all 0.2s cubic-bezier(0.34, 1.41, 0.7, 1));*/
                @include transition(all 0.2s linear);

                i {
                    font-size: 55px;
                    line-height: 76px;
                }
               
            }
             &:hover{
                .social-icon {
                         transform:scale(1.2,1.2);
                    }
            }
            &:last-child {
                margin-right: 0;
            }

            &.twitter {
                i {
                    line-height: 72px;
                }

                &.active .social-icon,
                .social-icon:hover {
                    background: $twitterColor;
                }
            }

            &.facebook {
                &.active .social-icon,
                .social-icon:hover {
                    background: $facebookColor;
                }
            }

            &.googleplus {
                &.active .social-icon,
                .social-icon:hover {
                    background: $googleColor;
                }
            }

            &.vkontakte {
                i {
                    line-height: 67px;
                }

                &.active .social-icon,
                .social-icon:hover {
                    background: $vkontakteColor;
                }
            }
        }
    }
}

/*#endregion */
.main-sidebar{
    position: fixed !important;
    bottom: 0!important;
    min-height: 300px!important;
    .current-user{
    margin-bottom: 0!important;
}
    .menu-body{
   position: relative;
    height: 100%; /* Or whatever you want (eg. 400px) */
    overflow: hidden;
    margin:5px 0;
    .menu-section{
        &:first-child{
        margin-top: 25px;
    }
        &:last-child{
            margin-bottom:30px;
        }
    }
    
}

}
.page-controls{
        .filters{
             display:inline-block;
               @media(max-width: 840px) {
                           width:100%;
            }
        }
        .result-count{
            display:inline-block;
            float:right;
            span{
                float:right;
                color: #666;
            }
             @media(max-width: 840px) {
                            float:left;
                            padding-top:15px;
                            padding-bottom:15px;
            }
    }}