﻿.qunit-container {
    position: absolute;
top: 0;
width: 100%;
z-index: 2312321;
    display: none;
}

.mini-qunit-button {
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
    width: 5px;
    height: 5px;
    z-index: 2312322;
    color: black;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.34, 1.41, 0.7, 1);

    &:hover {
        padding-left: 10px;
        width: 90px;
        height: 25px;

        span {
            opacity: 1;
            visibility: visible;
        }
    }

    span {
        opacity: 0;
        visibility: hidden;
        vertical-align: central;
        transition: opacity 300ms linear 200ms;
    }

    &.failed {
        padding: 5px;
        padding-left: 7px;
padding-top: 1px;
font-size:22px;
        height: auto;
        width: auto;
        text-align: center;
        span {
            opacity: 1;
            visibility: visible;
        }
    }
}