﻿<div class="alert {{AlertCss}}" role="alert">
    <button type="button" class="close alert-close" >
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4>{{AlertHeader}}</h4>
    {{#if AlertMessage}}
    <span>{{AlertMessage}}</span>
    {{/if}}
    {{#if AlertMessages}}
    <ul class="alert-ul">
        {{#each AlertMessages}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
</div>