﻿.modal-body {
    #yamap {
        width: 100%;
        margin: 20px 0 0 0;
        height: 200px;
    }

    .locationItem {
        padding: 5px;
        background-color: #EFFAFF;
        border-radius: 4px;

        & table td {
            padding: 5px;
        }

        & .country {
            width: 20%;
        }

        & .city {
            width: 25%;
        }

        & .street {
            width: 40%;
        }

        & .building {
            width: 15%;
        }
    }
}
