#event_edit {


    #content {


        form {
            margin-top: 35px;

            input[type="file"] {
                position: relative;
                top: 7px;
                height: 40px;
            }

            .address {
                margin: 25px 0;

                .form-group {
                    .col-sm-3 {
                        @media (max-width: $maxSmall) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }


            .form-control-feedback {
                color: #60B5EE;
                font-size: 19px;
            }

            .form-actions {
                margin-top: 35px;

                .btn {
                    margin-right: 15px;
                }
            }

            .description {
                height: 100px;
            }
        }
    }

    .publish-form {
        margin-top: 0 !important;
        display: inline-block !important;
    }

    .modal-content form {
        margin-top: 0 !important;
    }

    .promocode {
        padding: 10px;
        margin-top: 10px;
        background-color: #f6f6f6;
        border-radius: 4px;
    }
}
