#formSponsor {

    #content {

        form {
            margin-top: 35px;

          

            .form-control-feedback {
                color: #60B5EE;
                font-size: 19px;
            }

            .form-actions {
                margin-top: 35px;

                .btn {
                    margin-right: 15px;
                }
            }
        }
    }
}
