﻿@model IEnumerable<Unfo.Models.ViewModels.Dictionaries.SectionVM>

@if (Model != null)
{
    <div class="row sections-list">
        <div class="col-md-12">
            <div class="row headers">

                <div class="col-sm-8 header hidden-xs">
                    <label><a href="#">@Unfo.App_LocalResources.Resources.c_Title</a></label>
                </div>

                <div class="col-sm-4 header hidden-xs">
                    <label class="text-right"><a href="#">@Unfo.App_LocalResources.Resources.c_Controll</a></label>
                </div>
            </div>



            @foreach (var item in Model)
            {



                <div class="row section">

                    <div class="col-sm-8">
                        @item.FullName
                    </div>
                    <div class="col-sm-4">
                        <div class="text-right">
                            <a class="editSection control-item" data-id="@item.ID" href="#"><i class="glyphicon glyphicon-edit"></i></a>
                            <a class="deleteSection control-item" data-id="@item.ID" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>

                </div>

            }


        </div>
    </div>
}

