﻿@model IEnumerable<Unfo.Models.ViewModels.Dictionaries.DirectionVM>
@using Unfo.App_LocalResources
@using Unfo.Core.GlobalClasses

@{
    ViewBag.Title = Resources.Events_MyList;
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "directions";
}
@using System.Web.Optimization
@using UnfoIdentitySystem.GlobalStaticClasses
@section ExtendedHeaderBlock
    {
    <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            @Unfo.App_LocalResources.Resources.t_Directions
        </div>

        <a class="btn btn-success  pull-right" id="addDirection">
            <span>
                @Unfo.App_LocalResources.Resources.c_Add
            </span>
        </a>
    </div>
}
<input type="hidden" id="eventName" value="@CurrentEvent.UEvent.TranslitName" />
@Html.Partial("_LanguageTabs")

<div id="directionsBlock">
    @Html.Partial("_Directions", Model)
</div>




@Html.Partial("_ModalForEdit")
@section scripts{

    @Scripts.Render("~/Bundles/Cabinet/Dics/Directions")
}
