﻿@model IEnumerable<Unfo.Models.ViewModels.Dictionaries.LocationVM>
@using Unfo.App_LocalResources
@using Unfo.Core.GlobalClasses

@{
    ViewBag.Title = Resources.Events_MyList;
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "locations";
}
@using System.Web.Optimization
@using UnfoIdentitySystem.GlobalStaticClasses
@section ExtendedHeaderBlock
    {
    <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            @Unfo.App_LocalResources.Resources.t_Places
        </div>

        <a class="btn btn-success  pull-right" id="addLocation">
            <span>
                @Unfo.App_LocalResources.Resources.c_Add
            </span>
        </a>
    </div>
}
<input type="hidden" id="eventName" value="@CurrentEvent.UEvent.TranslitName" />
@Html.Partial("_LanguageTabs")

<div id="locationsBlock">
    @Html.Partial("_Locations", Model)
</div>




@Html.Partial("_ModalForEdit")
@section scripts{

    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    @Scripts.Render("~/Bundles/Cabinet/Dics/Locations")

}
