﻿@using System.Web.Optimization
@using Microsoft.Ajax.Utilities.Configuration
@{

    Layout = MVC.Cabinet.Shared.Views._Layout;

    const string commonCssClasses = "form-control";
    var header = Resources.MyAccount_AddPassword_Title;
    var intro = Resources.MyAccount_AddPassword_Intro;
    var passwordLabel = Resources.Account_Password;
    var confirmPasswordLabel = Resources.Account_ConfirmPassword;
    var submitButtonTittle = Resources.MyAccount_AddPassword_SubmitBtn;
    
    if (User.HasPassword)
    {
        header = Resources.MyAccount_ChangePassword_Title;
        intro = "";
        passwordLabel = Resources.MyAccount_ChangePassword_PasswordLabel;
        confirmPasswordLabel = Resources.MyAccount_ChangePassword_ConfirmPasswordLabel;
        submitButtonTittle = Resources.MyAccount_ChangePassword_SubmitBtn;
    }
    ViewBag.Title = header;

}

<div class="profile manage-password">
    <h3>
        @header
    </h3>

    <form action="@Url.Action(MVC.Cabinet.MyAccount.ManagePassword())" method="POST" id="managePasswordForm" class="idealforms fade in">
        <p class="intro">
            @intro
        </p>
        <div class="alert-wrapper info">
 
        </div>
        @if (User.HasPassword)
        {
            <div class="form-group">
                <label>@Resources.MyAccount_ChangePassword_OldPassword</label>
                <div class="field-ideal">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        @Html.TextBox("OldPassword", "", new { @class = commonCssClasses, type = "password" })
                    </div>
                    <span class="error"></span>
                </div>
            </div>
        }
        <div class="form-group">
            <label>@passwordLabel</label>
            <div class="field-ideal">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    @Html.TextBox("Password", "", new { @class = commonCssClasses, type = "password" })
                </div>
                <span class="error"></span>
            </div>
        </div>
        <div class="form-group">
            <label>@confirmPasswordLabel</label>
            <div class="field-ideal">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    @Html.TextBox("ConfirmPassword", "", new { @class = commonCssClasses, type = "password" })
                </div>
                <span class="error"></span>
            </div>
        </div>

        <div class="form-group action">
            <input type="submit" class="btn btn-success btn-lg" value="@submitButtonTittle">
        </div>
    </form>
</div>
@Scripts.Render("~/Bundles/Unfo/Cabinet/MyAccount/ManagePasswords/js")
