﻿@using System.Security.Cryptography.X509Certificates
@using System.Web.Optimization
@using CsQuery.EquationParser.Implementation
@using CsQuery.ExtensionMethods.Internal
@using Unfo.Areas.Cabinet.Controllers
@using Unfo.Core
@using Unfo.Core.Extensions
@using Unfo.Core.Helpers
@using Unfo.Models.ViewModelRepositories
@{
    ViewBag.Title = Resources.MyAccount_ExternalLogins_Title;
    Layout = MVC.Cabinet.Shared.Views._Layout;
    var htmlEngine = new HtmlEngine<ExternalLogins>();
    htmlEngine.SetCurrentActiveItem(Model.ExistedLinkedLogins);
}

<div class="profile manage-external-logins">
    <h3> @Resources.MyAccount_ExternalLogins_Title</h3>
    <p class="intro">
        @Resources.MyAccount_ExternalLogins_Intro
    </p>
    @Html.Hidden("urlOfToLinkExternalLoginAction", Url.Action(MVC.Cabinet.MyAccount.ToLinkExternalLogin()))
    @Html.Hidden("argOfToLinkExternalLoginAction", MVC.Cabinet.MyAccount.ToLinkExternalLoginParams.externalLogin)
    @Html.Hidden("urlOfRemoveExternalLoginAction", Url.Action(MVC.Cabinet.MyAccount.RemoveExternalLogin()))
    @Html.Hidden("argOfRemoveExternalLoginAction", MVC.Cabinet.MyAccount.RemoveExternalLoginParams.externalLogin)

    <div class="external-logins-container">
        <div class="socials-container">
            <ul class="socials-list">
                @foreach (var externalLogin in EnumHelper<ExternalLogins>.GetValues())
                {
                    var cssClassByLoginProviderName = externalLogin.ToString().ToLower();
                    var iconCssClass = externalLogin.GetCssClass();
                    var activityCssClass = htmlEngine.GetActivity(externalLogin);
                    var isActiveSocialProfile = !string.IsNullOrWhiteSpace(activityCssClass);
                    var unlinkTooltipTitle = string.Empty;
                    var toLinkTooltipTitle = string.Empty;
                    if (isActiveSocialProfile)
                    {
                        unlinkTooltipTitle = string.Format(Resources.MyAccount_ExternalLogins_UnlinkTooltip, externalLogin);

                    }
                    else
                    {
                        toLinkTooltipTitle = string.Format(Resources.MyAccount_ExternalLogins_ToLinkTooltip, externalLogin);
                    }
                    <li class="social-icon-wrapper @cssClassByLoginProviderName @activityCssClass">
                        <div class="social-icon" id="@externalLogin" data-is-linked="@isActiveSocialProfile" data-name="provider" data-value="@externalLogin" data-toggle="tooltip" data-placement="top" data-original-title="@toLinkTooltipTitle">
                            <div class="unlink-btn @activityCssClass" data-toggle="tooltip" data-placement="top" data-original-title="@unlinkTooltipTitle"><i class="fa fa-times"></i></div>
                            <i class="fa @iconCssClass"></i>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
@{
  
}
@Scripts.Render("~/Bundles/Unfo/Cabinet/MyAccount/ManageExternalLogins/js")