﻿@using System.Web.Optimization
@using DataModel
@using Microsoft.Ajax.Utilities.Configuration
@using Unfo.App_LocalResources
@model Unfo.Models.ViewModels.UnfoUserVM
@{
    ViewBag.Title = Resources.MyAccount_Profile_Title;
    Layout = MVC.Cabinet.Shared.Views._Layout;
    const string commonCssClasses = "form-control";
}
@*@Styles.Render("~/Bundles/Unfo/Cabinet/MyAccount/Profile/css")*@
<div class="profile">
    
    <h3>
        @Resources.MyAccount_Profile_Title
    </h3>

    <form action="@Url.Action(MVC.Cabinet.MyAccount.Profile())" method="POST" id="updateProfileForm" class="idealforms fade in">
        @Html.HiddenFor(m=> m.Id)
        <p class="intro">
            @Resources.MyAccount_Profile_Intro
        </p>
        <div class="form-group avatar-field clearfix">
            <div class="col-sm-3">
                <img src="~/Content/images/avatars/1.jpg" class="img-responsive img-circle">
            </div>
            <div class="col-sm-9">
                <label>@Resources.MyAccount_Profile_Avatar</label>
            
            </div>
        </div>
        <div class="form-group user-status">
            <label> @Resources.MyAccount_Profile_Status:</label>
            @if (!User.IsInRole(Role.Admin, Role.Moderator, Role.Organizer))
            {
                <span class="label label-default">@Resources.c_User</span>
            }
            @if (User.IsInRole(Role.Admin))
            {
                <span class="label label-primary">@Resources.c_Admin</span>
            }
            @if (User.IsInRole(Role.Organizer))
            {
                <span class="label label-warning">@Resources.c_Organizer</span>
            }
            @if (User.IsInRole(Role.Moderator))
            {
                <span class="label label-info">@Resources.c_Moderator</span>
            }
        </div>
        <div class="form-group">
            <label>@Resources.c_FirstName </label>
            <div class="field-ideal">
                @Html.TextBoxFor(m => m.FirstName, new { @class = commonCssClasses, placeholder = Resources.MyAccount_Profile_Placeholder_FirstName })
                <span class="error"></span>
            </div>
        </div>
        <div class="form-group">
            <label>@Resources.c_Surname </label>
            <div class="field-ideal">
                @Html.TextBoxFor(m => m.SurName, new { @class = commonCssClasses, placeholder = Resources.MyAccount_Profile_Placeholder_Surname })
                <span class="error"></span>
            </div>
        </div>
        <div class="form-group">
            <label>@Resources.c_FatherName </label>
            <div class="field-ideal">
                @Html.TextBoxFor(m => m.FatherName, new { @class = commonCssClasses, placeholder = Resources.MyAccount_Profile_Placeholder_FatherName })
                <span class="error"></span>
            </div>
        </div>
     
        <div class="form-group">
            <label>@Resources.UnfoUserVM_PlaceOfJob</label>
            <div class="field-ideal">
                @Html.TextBoxFor(m => m.PlaceOfJob, new { @class = commonCssClasses, placeholder = Resources.MyAccount_Profile_Placeholder_PlaceOfJob })
                <span class="error"></span>
            </div>
        </div>
        <div class="form-group">
            <label>@Resources.UnfoUserVM_PositionAtJob</label>
            <div class="field-ideal">
                @Html.TextBoxFor(m => m.PositionAtJob, new { @class = commonCssClasses, placeholder = Resources.MyAccount_Profile_Placeholder_PositionAtJob })
                <span class="error"></span>
            </div>
        </div>
        <div class="form-group">
            <label>@Resources.UnfoUserVM_AboutYourself</label>
            <div class="field-ideal textarea-wrapper">
                @Html.TextAreaFor(m => m.AboutYourselfInformation, new { @class = commonCssClasses, placeholder = Resources.MyAccount_Profile_Placeholder_AboutYourself })
                <span class="error"></span>
            </div>
        </div>
        <div class="contact-information">
            <h3>@Resources.MyAccount_Profile_ContactInformation</h3>
            <div class="form-group">
                <label>@Resources.c_EmailAdress</label>
                <div class="field-ideal">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        @Html.TextBox("emailDisplay", Model.Email, new { @class = commonCssClasses, disabled = "disabled" })
                    </div>
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-group">
                <label>@Resources.c_PhoneNumber</label>
                <div class="field-ideal">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </span>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = commonCssClasses, placeholder = Resources.MyAccount_Profile_Placeholder_PhoneNumber })
                    </div>
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-group">
                <label>@Resources.User_WebSite</label>
                <div class="field-ideal web-site">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-link"></i>
                        </span>
                        @Html.TextBoxFor(m => m.WebSite, new { @class = commonCssClasses, placeholder = "http://your-site.com"})
                    </div>
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Skype</label>
                <div class="field-ideal skype">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-skype"></i>
                        </span>
                        @Html.TextBoxFor(m => m.SkypeId, new { @class = commonCssClasses })
                    </div>
                    <span class="error"></span>
                </div>
            </div>
        </div>
        <div class="social-links">
            <h3>@Resources.MyAccount_Profile_SocialWebs</h3>
            <div class="form-group">
                <label>@Resources.UnfoUserVM_Vkontakte</label>
                <div class="field-ideal">
                    @Html.TextBoxFor(m => m.VkontakteLink, new { @class = commonCssClasses, placeholder = "https://vk.com/..." })
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Facebook</label>
                <div class="field-ideal">
                    @Html.TextBoxFor(m => m.FacebookLink, new { @class = commonCssClasses, placeholder = "https://www.facebook.com/..." })
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Google</label>
                <div class="field-ideal">
                    @Html.TextBoxFor(m => m.GoogleLink, new { @class = commonCssClasses, placeholder = "https://plus.google.com/..." })
                    <span class="error"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Twitter</label>
                <div class="field-ideal">
                    @Html.TextBoxFor(m => m.TwitterLink, new { @class = commonCssClasses, placeholder = "https://twitter.com/..." })
                    <span class="error"></span>
                </div>
            </div>
        </div>
        <div class="form-group action">
            <input type="submit" class="btn btn-success btn-lg" value="@Resources.MyAccount_Profile_SaveProfileBtn">
        </div>
    </form>
</div>
@Scripts.Render("~/Bundles/Unfo/Cabinet/MyAccount/Profile/js")