﻿@using System.Web.Optimization
@using DataModel
@using Newtonsoft.Json.Linq
@using Unfo.Core.Helpers
@model Unfo.Models.ViewModels.UserRequestVm
@{
    ViewBag.Title = Resources.MyAccount_Requests_Title;
    Layout = MVC.Cabinet.Shared.Views._Layout;
    const string activeCss = "active";

}
<div class="profile user-requests" >
    <h3>
        @Resources.MyAccount_Requests_Title
    </h3>

    <section class="request-for-organizer" data-action="@Url.Action(MVC.Cabinet.MyAccount.NewUserRequest())">
        @Html.Hidden("requestState", (int)Model.RequestState)
        @Html.Hidden("requestType", (int)Model.RequestType)
        <div class="upper-gray-title"> @Resources.MyAccount_Requests_GetOrganizer </div>

        @{
            var requestStateActiveCss = Model.RequestState != RequestState.NoState ? activeCss : "";
            var showResponseDescBtnActiveCss = !string.IsNullOrWhiteSpace(Model.ResponseDescription) && Model.RequestState == RequestState.Aborted ? activeCss : "";
            var stateActivity = new HtmlEngine<RequestState>();
            stateActivity.SetCurrentActiveItem(Model.RequestState);
            
        }
        <div class="request-state @requestStateActiveCss">
            <span>@Resources.MyAccount_Requests_State:</span>
            <span class="label label-success @stateActivity.GetActivity(RequestState.Completed)">@Resources.MyAccount_Requests_State_Approved</span>
            <span class="label label-danger @stateActivity.GetActivity(RequestState.Aborted)">@Resources.MyAccount_Requests_State_Aborted</span>
            <span class="label label-info @stateActivity.GetActivity(RequestState.InProgress)">@Resources.MyAccount_Requests_State_InProgress</span>
        </div>
        <div class="btn-show-response-description @showResponseDescBtnActiveCss">
            <abbr title="" id="btnShowResponseDescription"> @Resources.c_Details</abbr>
        </div>
            <div class="response-description-container">
                @Html.DisplayTextFor(m => m.ResponseDescription)
            </div>
        <div class="request">
             @if (Model.RequestState == RequestState.NoState)
            {
                <a href="#" class="btn btn-primary btn-lg btn-show-request" role="button">@Resources.MyAccount_Requests_SendRequest</a>
            }
            @if (Model.RequestState == RequestState.Aborted)
            {
                <a href="#" class="btn btn-primary btn-lg btn-show-request" role="button">@Resources.MyAccount_Requests_Retry</a>
            }
            @if (Model.RequestState == RequestState.Aborted || Model.RequestState == RequestState.NoState)
            {
                <div class="request-description-container">
                    <label>@Resources.MyAccount_Requests_MessageToAdmin</label>
                    <div class="textarea-wrapper">
                        @Html.TextAreaFor(m => m.RequestDescription, new { @class = "form-control" })
                    </div>
                    
                </div>
    <div class="btn-wrapper">
        <a href="#" class="btn btn-success btn-send-request disabled" role="button">@Resources.MyAccount_Requests_SendRequest</a>
    </div>
            }
        </div>
    </section>
</div>

@Scripts.Render("~/Bundles/Unfo/Cabinet/MyAccount/UserRequests/ts")