﻿@using System.Web.Optimization
@using DataModel
@using Unfo.Core.Helpers
@using Unfo.Models.ViewModelRepositories
@model Unfo.Models.ViewModels.UserPrivacyPoliticsVM
@{
    ViewBag.Title = Resources.MyAccount_PrivacyPolicies_Tittle;
    Layout = MVC.Cabinet.Shared.Views._Layout;
}
<div class="profile user-privacy-politics" data-action="@Url.Action(MVC.Cabinet.MyAccount.ChangeUserPrivacyPolitic())">
    <h3>
        @Resources.MyAccount_PrivacyPolicies_Tittle
    </h3>
    @Html.HiddenFor(m => m.UserID)
    @Html.AntiForgeryToken()
    
    <div class="types">
        <p>
            @Resources.MyAccount_PrivacyPolicies_Info
        </p>
        <section>
            <div class="upper-gray-title">@Resources.MyAccount_PrivacyPolicies_Section_Personal</div>
            @foreach (var privacyPolitic in Model.UserPrivacyPolitics)
            {
                var localizedNameOfPolitic = EnumHelper<TypePrivacyPolitic>.GetDisplayValue(privacyPolitic.TypePrivacyPolitic);
                var numberOfTypePolitic = ((int)privacyPolitic.TypePrivacyPolitic).ToString();

                <div class="row">
                    <div class="col-sm-8">
                        @localizedNameOfPolitic
                    </div>
                    <div class="col-sm-4">
                        @Html.Hidden(privacyPolitic.TypePrivacyPolitic.ToString(), privacyPolitic.ID, new { data_enum_value = numberOfTypePolitic })
                        <input name="@privacyPolitic.TypePrivacyPolitic" data-enum-value="@numberOfTypePolitic" type="checkbox" data-switch="" checked="@privacyPolitic.IsPublic">

                    </div>
                </div>
            }
        </section>
    </div>
</div>

@Scripts.Render("~/Bundles/Unfo/Cabinet/MyAccount/UserPrivacyPolitcs/ts")