﻿@model Unfo.Models.ViewModels.Dictionaries.SponsorVM

@using Unfo.Core
@using Unfo.Core.GlobalClasses
@using Unfo.Core.Helpers
@using UnfoIdentitySystem.GlobalStaticClasses
@using Route = Unfo.Core.Route
@{
    var act = (Model == null || Model.ID == Guid.Empty) ? "Add" : "Edit";
}
@using (Html.BeginRouteForm(Route.Event, new { Area = "Cabinet", eventName = CurrentEvent.UEvent.TranslitName, action = act }))
{
    <div class="form-horizontal">
        @if (act == "Edit")
        {
            @Html.HiddenFor(model => model.ID)
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.EditorFor(model => model.Image)

            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.About, new { @class = "col-sm-2 col-md-2 control-label" })

            <div class="col-sm-10 col-md-8">
                @Html.TextAreaFor(model => model.About, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">@Unfo.App_LocalResources.Resources.c_Add</button>
            </div>
        </div>
    </div>

}

