﻿@model Unfo.Models.ViewModels.Dictionaries.SponsorVM
@using System.Web.Optimization
@using Unfo.Core.GlobalClasses
@using UnfoIdentitySystem.GlobalStaticClasses
@{
    ViewBag.Title = "Новый спонсор";
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "sponsorForm";
}
<input type="hidden" id="eventName" value="@CurrentEvent.UEvent.TranslitName" />
@Html.Partial("_LanguageTabs")

<div id="reportBlock">
    @Html.Partial("_EditSponsor", Model)
</div>


@section scripts{

    @Scripts.Render("~/Bundles/ImageCropper")
    @Scripts.Render("~/Bundles/FileUploader")
    @Scripts.Render("~/Bundles/Cabinet/Dictionaries/Sponsors/Edit")
}