﻿@model IEnumerable<Unfo.Models.ViewModels.Dictionaries.SponsorVM>
@using Unfo.App_LocalResources
@using Unfo.Core.Extensions
@using Unfo.Core.GlobalClasses

@{
    ViewBag.Title = Resources.t_Sponsors;
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "sponsors";
}
@using System.Web.Optimization
@using UnfoIdentitySystem.GlobalStaticClasses
@using Scripts = Links.Scripts
@section ExtendedHeaderBlock
    {
    <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            @Unfo.App_LocalResources.Resources.t_Sponsors
        </div>
        <form class="search hidden-xs">
            <i class="fa fa-search"></i>
            <input type="text" name="q" placeholder=" @Unfo.App_LocalResources.Resources.c_Search " />
            <input type="submit" />
        </form>
        <a class="btn btn-success  pull-right" href="@Url.UnfoRouteUrl(MVC.Cabinet.Sponsors.Add())" id="addSponsor">
        <span>
        @Unfo.App_LocalResources.Resources.c_Add
        </span>
        </a>
    </div>
}
<input type="hidden" id="eventName" value="@CurrentEvent.UEvent.TranslitName" />
@Html.Partial("_LanguageTabs")

<div id="sponsorsBlock">
    @Html.Partial("_Index", Model)
</div>




@Html.Partial("_ModalForEdit")
@section scripts{

    @*@Scripts.Render("~/Bundles/Cabinet/Dics/Sponsor")*@
}
