﻿@import "../Unfo/Cabinet/cabinet-config.scss";
@import "../css/partials/config";

@import "../../../css/partials/config";

#usersRequests {
    .users-requests {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 30px;

        li:last-child {
            .user-request {
                border: none;
            }
        }

        li {
            color: #333;

            &:after,
            &:before {
                content: '';
                display: table;
                clear: both;
            }

            .user-request {
                border-bottom: 1px solid #E6E6E6;
                background: #fff;
                overflow: hidden;

                > div {
                    display: table-cell;
                    vertical-align: top;
                    padding: 20px;
                    position: relative;
                }

                .user-avatar {
                    padding: 25px 0 20px 0;
                    overflow: hidden;
                    text-align: center;

                    img {
                        width: 128px;
                    }
                }

                .request-info {
                    a, a:hover, p {
                        color: inherit;
                    }

                    .header {
                        margin: 0 0 8px;

                        .title {
                            display: inline;
                            font-size: 20px;
                            line-height: 24px;
                        }

                        .label {
                            display: inline;
                            float: right;
                            font-size: 13px;
                            margin-top: 3.3px;
                            line-height: 15px;
                        }
                    }

                    .location {
                        color: #999;
                        margin-bottom: 10px;
                    }

                    .body {
                        margin-bottom: 21px;

                        .desc {
                            margin-bottom: 0;
                            max-height: 32px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 16px;
                            color: #707478;
                        }

                        .dummy {
                            overflow:hidden;
                            opacity: 0;
                            position: relative;
                            max-height: 10px;
                        }
                    }

                    .readmore-js-toggle {
                        display: inline;
                        float: right;
                        color: #707478;
                        border-bottom: 1px dotted;
                        width: auto;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                            border-bottom: 0px dotted;
                        }
                    }

                    .footer {
                        .btn-row {
                            display: inline;

                            a {
                                color: #666;
                                font-size: 20px;
                                line-height: 14px;
                                opacity: .2;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }

                        .create-date {
                            color: #999;
                            display: inline;
                            float: right;
                        }
                    }
                }

                .request-actions {
                    width: 169px;
                    font-size: 28px;
                    text-align: center;
                    border-left: 1px dashed #ddd;
                    padding-top: 45px;

                    &.one-child {
                        padding-top: 65px;
                    }

                    .btn {
                        width: 100%;
                    }

                    @media(max-width: 900px) {
                        .user-avatar {
                            display: none;
                        }

                        .request-info {
                            padding-left: 0;
                        }

                        .request-actions {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}